body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1490px;
  height:925px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20819 {
  position:absolute;
  left:50px;
  top:82px;
  width:1490px;
  height:925px;
  opacity:0.7;
}
#u20820 {
  position:absolute;
  left:2px;
  top:454px;
  width:1486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1490px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20821 {
  position:absolute;
  left:50px;
  top:50px;
  width:1490px;
  height:35px;
}
#u20822 {
  position:absolute;
  left:2px;
  top:10px;
  width:1486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u20823 {
  position:absolute;
  left:1508px;
  top:60px;
  width:15px;
  height:15px;
}
#u20824 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20825 {
  position:absolute;
  left:60px;
  top:60px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20826 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u20827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u20827 {
  position:absolute;
  left:60px;
  top:170px;
  width:127px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u20828 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u20829 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20830 {
  position:absolute;
  left:77px;
  top:227px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20831 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u20830_ann {
  position:absolute;
  left:101px;
  top:223px;
  width:1px;
  height:1px;
}
#u20832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u20832 {
  position:absolute;
  left:60px;
  top:230px;
  width:15px;
  height:15px;
}
#u20833 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20835 {
  position:absolute;
  left:284px;
  top:275px;
  width:100px;
  height:32px;
}
#u20835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u20835_input:disabled {
  color:grayText;
}
#u20836 {
  position:absolute;
  left:394px;
  top:273px;
  width:54px;
  height:32px;
}
#u20836_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:32px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u20836_input:disabled {
  color:grayText;
}
#u20837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20837 {
  position:absolute;
  left:201px;
  top:281px;
  width:73px;
  height:9px;
}
#u20838 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20839 {
  position:absolute;
  left:1762px;
  top:333px;
  width:5px;
  height:16px;
}
#u20840 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u20841 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20842 {
  position:absolute;
  left:458px;
  top:273px;
  width:100px;
  height:32px;
}
#u20842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u20842_input:disabled {
  color:grayText;
}
#u20843 {
  position:absolute;
  left:568px;
  top:271px;
  width:54px;
  height:32px;
}
#u20843_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:32px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u20843_input:disabled {
  color:grayText;
}
#u20844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20845 {
  position:absolute;
  left:637px;
  top:271px;
  width:100px;
  height:32px;
}
#u20845_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u20845_input:disabled {
  color:grayText;
}
#u20846 {
  position:absolute;
  left:747px;
  top:269px;
  width:54px;
  height:32px;
}
#u20846_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:32px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u20846_input:disabled {
  color:grayText;
}
#u20847 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20848 {
  position:absolute;
  left:817px;
  top:270px;
  width:100px;
  height:32px;
}
#u20848_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u20848_input:disabled {
  color:grayText;
}
#u20849 {
  position:absolute;
  left:927px;
  top:268px;
  width:54px;
  height:32px;
}
#u20849_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:32px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u20849_input:disabled {
  color:grayText;
}
#u20850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20850 {
  position:absolute;
  left:60px;
  top:282px;
  width:65px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20851 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u20852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u20853 {
  position:absolute;
  left:136px;
  top:135px;
  width:318px;
  height:1px;
}
#u20854 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20855 {
  position:absolute;
  left:160px;
  top:112px;
  width:221px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20856 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u20857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20857 {
  position:absolute;
  left:60px;
  top:114px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20858 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1156px;
  height:116px;
}
#u20859 {
  position:absolute;
  left:60px;
  top:333px;
  width:1156px;
  height:116px;
}
#u20860 {
  position:absolute;
  left:2px;
  top:50px;
  width:1152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20861 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u20862 {
  position:absolute;
  left:1202px;
  top:352px;
  width:15px;
  height:15px;
}
#u20863 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:143px;
}
#u20866 {
  position:absolute;
  left:1123px;
  top:372px;
  width:153px;
  height:133px;
}
#u20867 {
  position:absolute;
  left:2px;
  top:58px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20868 {
  position:absolute;
  left:1159px;
  top:408px;
  width:100px;
  height:18px;
}
#u20869 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20868_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20870 {
  position:absolute;
  left:1159px;
  top:434px;
  width:100px;
  height:18px;
}
#u20871 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20870_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20872 {
  position:absolute;
  left:1159px;
  top:460px;
  width:100px;
  height:18px;
}
#u20873 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20872_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20874 {
  position:absolute;
  left:1141px;
  top:382px;
  width:100px;
  height:18px;
}
#u20875 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20874_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20876 {
  position:absolute;
  left:1159px;
  top:478px;
  width:100px;
  height:16px;
}
#u20877 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20876_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
