body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17991 {
  position:absolute;
  left:93px;
  top:225px;
  width:947px;
  height:169px;
}
#u17992 {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  word-wrap:break-word;
}
#u17993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:82px;
}
#u17993 {
  position:absolute;
  left:73px;
  top:73px;
  width:967px;
  height:82px;
}
#u17994 {
  position:absolute;
  left:2px;
  top:33px;
  width:963px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u17995 {
  position:absolute;
  left:453px;
  top:73px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u17996 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u17997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u17997 {
  position:absolute;
  left:531px;
  top:73px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u17998 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u17999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u17999 {
  position:absolute;
  left:813px;
  top:73px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u18000 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u18001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u18001 {
  position:absolute;
  left:329px;
  top:73px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u18002 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u18003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u18003 {
  position:absolute;
  left:905px;
  top:73px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u18004 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u18005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFontBold', '.AppleSystemUIFont Bold', '.AppleSystemUIFont';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u18005 {
  position:absolute;
  left:9px;
  top:23px;
  width:177px;
  height:19px;
  font-family:'.AppleSystemUIFontBold', '.AppleSystemUIFont Bold', '.AppleSystemUIFont';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u18006 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
