body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23951 {
  position:absolute;
  left:93px;
  top:225px;
  width:947px;
  height:169px;
}
#u23952 {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  word-wrap:break-word;
}
#u23953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:82px;
}
#u23953 {
  position:absolute;
  left:73px;
  top:73px;
  width:967px;
  height:82px;
}
#u23954 {
  position:absolute;
  left:2px;
  top:33px;
  width:963px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u23955 {
  position:absolute;
  left:453px;
  top:73px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u23956 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u23957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u23957 {
  position:absolute;
  left:531px;
  top:73px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u23958 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u23959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u23959 {
  position:absolute;
  left:813px;
  top:73px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u23960 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u23961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u23961 {
  position:absolute;
  left:329px;
  top:73px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u23962 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u23963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u23963 {
  position:absolute;
  left:905px;
  top:73px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u23964 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u23965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFontBold', '.AppleSystemUIFont Bold', '.AppleSystemUIFont';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u23965 {
  position:absolute;
  left:9px;
  top:23px;
  width:177px;
  height:19px;
  font-family:'.AppleSystemUIFontBold', '.AppleSystemUIFont Bold', '.AppleSystemUIFont';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u23966 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
