body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:642px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:266px;
}
#u24122 {
  position:absolute;
  left:48px;
  top:139px;
  width:264px;
  height:266px;
}
#u24123 {
  position:absolute;
  left:2px;
  top:125px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24122_ann {
  position:absolute;
  left:305px;
  top:135px;
  width:1px;
  height:1px;
}
#u24124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24127 {
  position:absolute;
  left:65px;
  top:190px;
  width:165px;
  height:19px;
}
#u24127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:9px;
}
#u24128 {
  position:absolute;
  left:70px;
  top:195px;
  width:8px;
  height:9px;
  font-size:10px;
}
#u24129 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u24130 {
  position:absolute;
  left:236px;
  top:190px;
  width:40px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u24131 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u24132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24135 {
  position:absolute;
  left:389px;
  top:190px;
  width:165px;
  height:19px;
}
#u24135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:9px;
}
#u24136 {
  position:absolute;
  left:394px;
  top:195px;
  width:8px;
  height:9px;
  font-size:10px;
}
#u24137 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u24138 {
  position:absolute;
  left:560px;
  top:190px;
  width:40px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u24139 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u24138_ann {
  position:absolute;
  left:593px;
  top:186px;
  width:1px;
  height:1px;
}
#u24140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24140 {
  position:absolute;
  left:389px;
  top:157px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24141 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u24142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24142 {
  position:absolute;
  left:48px;
  top:57px;
  width:594px;
  height:72px;
}
#u24143 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  word-wrap:break-word;
}
#u24144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24144 {
  position:absolute;
  left:48px;
  top:22px;
  width:242px;
  height:20px;
}
#u24145 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
