body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:997px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:374px;
}
#u23472 {
  position:absolute;
  left:8px;
  top:18px;
  width:623px;
  height:374px;
}
#u23473 {
  position:absolute;
  left:2px;
  top:179px;
  width:619px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23474 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23475 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23476 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23477 {
  position:absolute;
  left:637px;
  top:87px;
  width:300px;
  height:25px;
}
#u23477_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u23478 {
  position:absolute;
  left:646px;
  top:93px;
  width:14px;
  height:12px;
}
#u23479 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23480 {
  position:absolute;
  left:947px;
  top:87px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23481 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u23480_ann {
  position:absolute;
  left:990px;
  top:83px;
  width:1px;
  height:1px;
}
#u23482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23482 {
  position:absolute;
  left:101px;
  top:91px;
  width:96px;
  height:15px;
}
#u23483 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23484 {
  position:absolute;
  left:197px;
  top:99px;
  width:0px;
  height:0px;
}
#u23484_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:453px;
  height:8px;
}
#u23484_seg1 {
  position:absolute;
  left:435px;
  top:-10px;
  width:21px;
  height:20px;
}
#u23485 {
  position:absolute;
  left:174px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23486 {
  position:absolute;
  left:8px;
  top:448px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23487 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:256px;
}
#u23488 {
  position:absolute;
  left:8px;
  top:503px;
  width:273px;
  height:256px;
}
#u23489 {
  position:absolute;
  left:2px;
  top:120px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23488_ann {
  position:absolute;
  left:274px;
  top:499px;
  width:1px;
  height:1px;
}
#u23490 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23491 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23492 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23493 {
  position:absolute;
  left:27px;
  top:550px;
  width:165px;
  height:19px;
}
#u23493_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:9px;
}
#u23494 {
  position:absolute;
  left:32px;
  top:555px;
  width:8px;
  height:9px;
  font-size:10px;
}
#u23495 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u23496 {
  position:absolute;
  left:198px;
  top:550px;
  width:40px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u23497 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
