body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1368px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1623 {
  position:absolute;
  left:53px;
  top:104px;
  width:1368px;
  height:35px;
}
#u1624 {
  position:absolute;
  left:2px;
  top:10px;
  width:1364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:1002px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1625 {
  position:absolute;
  left:53px;
  top:139px;
  width:1365px;
  height:1002px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1626 {
  position:absolute;
  left:2px;
  top:493px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u1627 {
  position:absolute;
  left:1390px;
  top:113px;
  width:16px;
  height:15px;
}
#u1628 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u1629 {
  position:absolute;
  left:55px;
  top:113px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u1630 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1631 {
  position:absolute;
  left:88px;
  top:169px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1632 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1633 {
  position:absolute;
  left:63px;
  top:537px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1634 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1635 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1636 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1637 {
  position:absolute;
  left:1329px;
  top:149px;
  width:31px;
  height:22px;
}
#u1638 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1639 {
  position:absolute;
  left:84px;
  top:680px;
  width:1307px;
  height:145px;
}
#u1640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
}
#u1640 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
  color:#000000;
}
#u1641 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u1642 {
  position:absolute;
  left:128px;
  top:0px;
  width:91px;
  height:20px;
  color:#000000;
}
#u1643 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u1644 {
  position:absolute;
  left:219px;
  top:0px;
  width:98px;
  height:20px;
  color:#000000;
}
#u1645 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u1646 {
  position:absolute;
  left:317px;
  top:0px;
  width:71px;
  height:20px;
  color:#000000;
}
#u1647 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u1648 {
  position:absolute;
  left:388px;
  top:0px;
  width:130px;
  height:20px;
  color:#000000;
}
#u1649 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
}
#u1650 {
  position:absolute;
  left:518px;
  top:0px;
  width:117px;
  height:20px;
  color:#000000;
}
#u1651 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u1652 {
  position:absolute;
  left:635px;
  top:0px;
  width:93px;
  height:20px;
  color:#000000;
}
#u1653 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
}
#u1654 {
  position:absolute;
  left:728px;
  top:0px;
  width:161px;
  height:20px;
  color:#000000;
}
#u1655 {
  position:absolute;
  left:2px;
  top:2px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
}
#u1656 {
  position:absolute;
  left:889px;
  top:0px;
  width:128px;
  height:20px;
  color:#000000;
}
#u1657 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
}
#u1658 {
  position:absolute;
  left:1017px;
  top:0px;
  width:117px;
  height:20px;
  color:#000000;
}
#u1659 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:20px;
}
#u1660 {
  position:absolute;
  left:1134px;
  top:0px;
  width:168px;
  height:20px;
  color:#000000;
}
#u1661 {
  position:absolute;
  left:2px;
  top:2px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
}
#u1662 {
  position:absolute;
  left:0px;
  top:20px;
  width:128px;
  height:37px;
  color:#000000;
}
#u1663 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u1664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u1664 {
  position:absolute;
  left:128px;
  top:20px;
  width:91px;
  height:37px;
  color:#000000;
}
#u1665 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u1666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u1666 {
  position:absolute;
  left:219px;
  top:20px;
  width:98px;
  height:37px;
  color:#000000;
}
#u1667 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u1666_ann {
  position:absolute;
  left:303px;
  top:20px;
  width:1px;
  height:1px;
}
#u1668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u1668 {
  position:absolute;
  left:317px;
  top:20px;
  width:71px;
  height:37px;
  color:#000000;
}
#u1669 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u1670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u1670 {
  position:absolute;
  left:388px;
  top:20px;
  width:130px;
  height:37px;
  color:#000000;
}
#u1671 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u1670_ann {
  position:absolute;
  left:504px;
  top:20px;
  width:1px;
  height:1px;
}
#u1672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u1672 {
  position:absolute;
  left:518px;
  top:20px;
  width:117px;
  height:37px;
  color:#000000;
}
#u1673 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u1672_ann {
  position:absolute;
  left:621px;
  top:20px;
  width:1px;
  height:1px;
}
#u1674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u1674 {
  position:absolute;
  left:635px;
  top:20px;
  width:93px;
  height:37px;
  color:#000000;
}
#u1675 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u1676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
}
#u1676 {
  position:absolute;
  left:728px;
  top:20px;
  width:161px;
  height:37px;
  color:#000000;
}
#u1677 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u1676_ann {
  position:absolute;
  left:875px;
  top:20px;
  width:1px;
  height:1px;
}
#u1678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
}
#u1678 {
  position:absolute;
  left:889px;
  top:20px;
  width:128px;
  height:37px;
  color:#000000;
}
#u1679 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u1678_ann {
  position:absolute;
  left:1003px;
  top:20px;
  width:1px;
  height:1px;
}
#u1680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u1680 {
  position:absolute;
  left:1017px;
  top:20px;
  width:117px;
  height:37px;
  color:#000000;
}
#u1681 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u1682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:37px;
}
#u1682 {
  position:absolute;
  left:1134px;
  top:20px;
  width:168px;
  height:37px;
  color:#000000;
}
#u1683 {
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u1682_ann {
  position:absolute;
  left:1288px;
  top:20px;
  width:1px;
  height:1px;
}
#u1684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u1684 {
  position:absolute;
  left:0px;
  top:57px;
  width:128px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1685 {
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u1686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
}
#u1686 {
  position:absolute;
  left:128px;
  top:57px;
  width:91px;
  height:40px;
}
#u1687 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u1688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u1688 {
  position:absolute;
  left:219px;
  top:57px;
  width:98px;
  height:40px;
}
#u1689 {
  position:absolute;
  left:2px;
  top:11px;
  width:94px;
  word-wrap:break-word;
}
#u1690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u1690 {
  position:absolute;
  left:317px;
  top:57px;
  width:71px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1691 {
  position:absolute;
  left:2px;
  top:11px;
  width:67px;
  word-wrap:break-word;
}
#u1692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u1692 {
  position:absolute;
  left:388px;
  top:57px;
  width:130px;
  height:40px;
  color:#000000;
}
#u1693 {
  position:absolute;
  left:2px;
  top:11px;
  width:126px;
  word-wrap:break-word;
}
#u1694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u1694 {
  position:absolute;
  left:518px;
  top:57px;
  width:117px;
  height:40px;
  color:#000000;
}
#u1695 {
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  word-wrap:break-word;
}
#u1696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u1696 {
  position:absolute;
  left:635px;
  top:57px;
  width:93px;
  height:40px;
  color:#000000;
}
#u1697 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u1698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
#u1698 {
  position:absolute;
  left:728px;
  top:57px;
  width:161px;
  height:40px;
  color:#000000;
}
#u1699 {
  position:absolute;
  left:2px;
  top:11px;
  width:157px;
  word-wrap:break-word;
}
#u1700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u1700 {
  position:absolute;
  left:889px;
  top:57px;
  width:128px;
  height:40px;
  color:#000000;
}
#u1701 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u1702 {
  position:absolute;
  left:1017px;
  top:57px;
  width:117px;
  height:40px;
  color:#000000;
}
#u1703 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
}
#u1704 {
  position:absolute;
  left:1134px;
  top:57px;
  width:168px;
  height:40px;
  color:#000000;
}
#u1705 {
  position:absolute;
  left:2px;
  top:12px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:43px;
}
#u1706 {
  position:absolute;
  left:0px;
  top:97px;
  width:128px;
  height:43px;
}
#u1707 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u1708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:43px;
}
#u1708 {
  position:absolute;
  left:128px;
  top:97px;
  width:91px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1709 {
  position:absolute;
  left:2px;
  top:12px;
  width:87px;
  word-wrap:break-word;
}
#u1710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:43px;
}
#u1710 {
  position:absolute;
  left:219px;
  top:97px;
  width:98px;
  height:43px;
}
#u1711 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u1712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
}
#u1712 {
  position:absolute;
  left:317px;
  top:97px;
  width:71px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1713 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u1714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:43px;
}
#u1714 {
  position:absolute;
  left:388px;
  top:97px;
  width:130px;
  height:43px;
  color:#000000;
}
#u1715 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u1716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:43px;
}
#u1716 {
  position:absolute;
  left:518px;
  top:97px;
  width:117px;
  height:43px;
  color:#000000;
}
#u1717 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u1718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:43px;
}
#u1718 {
  position:absolute;
  left:635px;
  top:97px;
  width:93px;
  height:43px;
  color:#000000;
}
#u1719 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
}
#u1720 {
  position:absolute;
  left:728px;
  top:97px;
  width:161px;
  height:43px;
  color:#000000;
}
#u1721 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u1722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:43px;
}
#u1722 {
  position:absolute;
  left:889px;
  top:97px;
  width:128px;
  height:43px;
  color:#000000;
}
#u1723 {
  position:absolute;
  left:2px;
  top:14px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:43px;
}
#u1724 {
  position:absolute;
  left:1017px;
  top:97px;
  width:117px;
  height:43px;
  color:#000000;
}
#u1725 {
  position:absolute;
  left:2px;
  top:14px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:43px;
}
#u1726 {
  position:absolute;
  left:1134px;
  top:97px;
  width:168px;
  height:43px;
  color:#000000;
}
#u1727 {
  position:absolute;
  left:2px;
  top:14px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1639_ann {
  position:absolute;
  left:1379px;
  top:676px;
  width:1px;
  height:1px;
}
#u1728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1728 {
  position:absolute;
  left:1094px;
  top:878px;
  width:64px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1729 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u1730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
}
#u1730 {
  position:absolute;
  left:1187px;
  top:878px;
  width:91px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1731 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u1732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1732 {
  position:absolute;
  left:1309px;
  top:878px;
  width:64px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1733 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u1732_ann {
  position:absolute;
  left:1366px;
  top:874px;
  width:1px;
  height:1px;
}
#u1734 {
  position:absolute;
  left:122px;
  top:750px;
  width:100px;
  height:16px;
}
#u1735 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1734_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1736 {
  position:absolute;
  left:94px;
  top:707px;
  width:100px;
  height:18px;
}
#u1737 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1736_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1738 {
  position:absolute;
  left:122px;
  top:790px;
  width:23px;
  height:16px;
}
#u1739 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1738_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1740 {
  position:absolute;
  left:1329px;
  top:651px;
  width:57px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1741 {
  position:absolute;
  left:2px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1742 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1743 {
  position:absolute;
  left:79px;
  top:585px;
  width:115px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1744 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  white-space:nowrap;
}
#u1743_ann {
  position:absolute;
  left:187px;
  top:581px;
  width:1px;
  height:1px;
}
#u1745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1745 {
  position:absolute;
  left:91px;
  top:588px;
  width:15px;
  height:15px;
}
#u1746 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1747 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1748 {
  position:absolute;
  left:244px;
  top:587px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1749 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  white-space:nowrap;
}
#u1750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1750 {
  position:absolute;
  left:244px;
  top:591px;
  width:15px;
  height:15px;
}
#u1751 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1752 {
  position:absolute;
  left:88px;
  top:1054px;
  width:100px;
  height:45px;
}
#u1753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u1753 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  color:#000000;
}
#u1754 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:28px;
}
#u1755 {
  position:absolute;
  left:977px;
  top:588px;
  width:409px;
  height:28px;
}
#u1756 {
  position:absolute;
  left:2px;
  top:6px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1755_ann {
  position:absolute;
  left:1379px;
  top:584px;
  width:1px;
  height:1px;
}
#u1757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1757 {
  position:absolute;
  left:163px;
  top:207px;
  width:57px;
  height:20px;
}
#u1758 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1759 {
  position:absolute;
  left:230px;
  top:207px;
  width:128px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1760 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u1759_ann {
  position:absolute;
  left:351px;
  top:203px;
  width:1px;
  height:1px;
}
#u1761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1761 {
  position:absolute;
  left:136px;
  top:268px;
  width:87px;
  height:20px;
}
#u1762 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1761_ann {
  position:absolute;
  left:216px;
  top:264px;
  width:1px;
  height:1px;
}
#u1763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1763 {
  position:absolute;
  left:178px;
  top:460px;
  width:43px;
  height:20px;
}
#u1764 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1765 {
  position:absolute;
  left:225px;
  top:460px;
  width:1082px;
  height:47px;
}
#u1765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:47px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1766 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:2px;
}
#u1767 {
  position:absolute;
  left:226px;
  top:288px;
  width:199px;
  height:1px;
}
#u1768 {
  position:absolute;
  left:2px;
  top:-8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u1769 {
  position:absolute;
  left:414px;
  top:270px;
  width:11px;
  height:8px;
}
#u1770 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1771 {
  position:absolute;
  left:241px;
  top:265px;
  width:139px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1772 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u1773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1773 {
  position:absolute;
  left:1038px;
  top:335px;
  width:57px;
  height:20px;
}
#u1774 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1775 {
  position:absolute;
  left:1105px;
  top:335px;
  width:29px;
  height:20px;
}
#u1776 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1777 {
  position:absolute;
  left:1014px;
  top:277px;
  width:83px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1778 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1777_ann {
  position:absolute;
  left:1090px;
  top:273px;
  width:1px;
  height:1px;
}
#u1779 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:2px;
}
#u1780 {
  position:absolute;
  left:1108px;
  top:292px;
  width:199px;
  height:1px;
}
#u1781 {
  position:absolute;
  left:2px;
  top:-8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u1782 {
  position:absolute;
  left:1295px;
  top:274px;
  width:11px;
  height:8px;
}
#u1783 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1784 {
  position:absolute;
  left:1123px;
  top:269px;
  width:139px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1785 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u1786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1786 {
  position:absolute;
  left:150px;
  top:404px;
  width:71px;
  height:20px;
}
#u1787 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1788 {
  position:absolute;
  left:237px;
  top:404px;
  width:115px;
  height:16px;
}
#u1789 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u1790 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1791 {
  position:absolute;
  left:156px;
  top:330px;
  width:56px;
  height:20px;
}
#u1792 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1793 {
  position:absolute;
  left:235px;
  top:331px;
  width:200px;
  height:24px;
}
#u1793_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1793_ann {
  position:absolute;
  left:428px;
  top:327px;
  width:1px;
  height:1px;
}
#u1794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1794 {
  position:absolute;
  left:406px;
  top:330px;
  width:18px;
  height:23px;
  font-size:20px;
}
#u1795 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u1796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u1796 {
  position:absolute;
  left:261px;
  top:335px;
  width:64px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u1797 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u1798 {
  position:absolute;
  left:440px;
  top:340px;
  width:10px;
  height:8px;
}
#u1799 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1800 {
  position:absolute;
  left:167px;
  top:360px;
  width:299px;
  height:26px;
  overflow:hidden;
  visibility:hidden;
}
#u1800_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:26px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1800_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:784px;
}
#u1801 {
  position:absolute;
  left:0px;
  top:-165px;
  width:1000px;
  height:784px;
}
#u1802 {
  position:absolute;
  left:2px;
  top:384px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803 {
  position:absolute;
  left:526px;
  top:-6px;
  width:200px;
  height:24px;
}
#u1803_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:815px;
}
#u1804 {
  position:absolute;
  left:0px;
  top:3px;
  width:1000px;
  height:815px;
}
#u1805 {
  position:absolute;
  left:2px;
  top:400px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1806 {
  position:absolute;
  left:457px;
  top:5px;
  width:37px;
  height:20px;
}
#u1807 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1808 {
  position:absolute;
  left:527px;
  top:19px;
  width:200px;
  height:1px;
}
#u1809 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1810 {
  position:absolute;
  left:527px;
  top:-6px;
  width:200px;
  height:25px;
}
#u1810_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1811 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1812 {
  position:absolute;
  left:68px;
  top:1px;
  width:200px;
  height:24px;
}
#u1812_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1813 {
  position:absolute;
  left:239px;
  top:0px;
  width:18px;
  height:23px;
  font-size:20px;
}
#u1814 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u1815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u1815 {
  position:absolute;
  left:94px;
  top:5px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u1816 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1817 {
  position:absolute;
  left:278px;
  top:5px;
  width:22px;
  height:16px;
}
#u1818 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1819 {
  position:absolute;
  left:460px;
  top:336px;
  width:6px;
  height:16px;
}
#u1820 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u1819_ann {
  position:absolute;
  left:459px;
  top:332px;
  width:1px;
  height:1px;
}
#u1821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1821 {
  position:absolute;
  left:1012px;
  top:212px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1822 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u1823 {
  position:absolute;
  left:1097px;
  top:212px;
  width:83px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u1824 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u1825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1825 {
  position:absolute;
  left:1182px;
  top:214px;
  width:125px;
  height:19px;
  color:#000000;
}
#u1826 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  white-space:nowrap;
}
#u1827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1827 {
  position:absolute;
  left:225px;
  top:681px;
  width:79px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1828 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u1829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1829 {
  position:absolute;
  left:588px;
  top:681px;
  width:55px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1830 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u1831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1831 {
  position:absolute;
  left:1223px;
  top:681px;
  width:55px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1832 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u1833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1833 {
  position:absolute;
  left:896px;
  top:681px;
  width:136px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1834 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u1835 {
  position:absolute;
  left:998px;
  top:741px;
  width:74px;
  height:25px;
}
#u1835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1836 {
  position:absolute;
  left:998px;
  top:786px;
  width:74px;
  height:25px;
}
#u1836_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
