body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1368px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24474 {
  position:absolute;
  left:53px;
  top:104px;
  width:1368px;
  height:35px;
}
#u24475 {
  position:absolute;
  left:2px;
  top:10px;
  width:1364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:1002px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u24476 {
  position:absolute;
  left:53px;
  top:139px;
  width:1365px;
  height:1002px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u24477 {
  position:absolute;
  left:2px;
  top:493px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u24478 {
  position:absolute;
  left:1390px;
  top:113px;
  width:16px;
  height:15px;
}
#u24479 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u24480 {
  position:absolute;
  left:55px;
  top:113px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u24481 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u24482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u24482 {
  position:absolute;
  left:88px;
  top:169px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u24483 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u24484 {
  position:absolute;
  left:63px;
  top:537px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u24485 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24486 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24487 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24488 {
  position:absolute;
  left:1329px;
  top:149px;
  width:31px;
  height:22px;
}
#u24489 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u24490 {
  position:absolute;
  left:84px;
  top:680px;
  width:1307px;
  height:145px;
}
#u24491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
}
#u24491 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
  color:#000000;
}
#u24492 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u24493 {
  position:absolute;
  left:128px;
  top:0px;
  width:91px;
  height:20px;
  color:#000000;
}
#u24494 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u24495 {
  position:absolute;
  left:219px;
  top:0px;
  width:98px;
  height:20px;
  color:#000000;
}
#u24496 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u24497 {
  position:absolute;
  left:317px;
  top:0px;
  width:71px;
  height:20px;
  color:#000000;
}
#u24498 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u24499 {
  position:absolute;
  left:388px;
  top:0px;
  width:130px;
  height:20px;
  color:#000000;
}
#u24500 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
}
#u24501 {
  position:absolute;
  left:518px;
  top:0px;
  width:117px;
  height:20px;
  color:#000000;
}
#u24502 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u24503 {
  position:absolute;
  left:635px;
  top:0px;
  width:93px;
  height:20px;
  color:#000000;
}
#u24504 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
}
#u24505 {
  position:absolute;
  left:728px;
  top:0px;
  width:161px;
  height:20px;
  color:#000000;
}
#u24506 {
  position:absolute;
  left:2px;
  top:2px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
}
#u24507 {
  position:absolute;
  left:889px;
  top:0px;
  width:128px;
  height:20px;
  color:#000000;
}
#u24508 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
}
#u24509 {
  position:absolute;
  left:1017px;
  top:0px;
  width:117px;
  height:20px;
  color:#000000;
}
#u24510 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:20px;
}
#u24511 {
  position:absolute;
  left:1134px;
  top:0px;
  width:168px;
  height:20px;
  color:#000000;
}
#u24512 {
  position:absolute;
  left:2px;
  top:2px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
}
#u24513 {
  position:absolute;
  left:0px;
  top:20px;
  width:128px;
  height:37px;
  color:#000000;
}
#u24514 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u24515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u24515 {
  position:absolute;
  left:128px;
  top:20px;
  width:91px;
  height:37px;
  color:#000000;
}
#u24516 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u24517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u24517 {
  position:absolute;
  left:219px;
  top:20px;
  width:98px;
  height:37px;
  color:#000000;
}
#u24518 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u24517_ann {
  position:absolute;
  left:303px;
  top:20px;
  width:1px;
  height:1px;
}
#u24519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u24519 {
  position:absolute;
  left:317px;
  top:20px;
  width:71px;
  height:37px;
  color:#000000;
}
#u24520 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u24521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u24521 {
  position:absolute;
  left:388px;
  top:20px;
  width:130px;
  height:37px;
  color:#000000;
}
#u24522 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u24521_ann {
  position:absolute;
  left:504px;
  top:20px;
  width:1px;
  height:1px;
}
#u24523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u24523 {
  position:absolute;
  left:518px;
  top:20px;
  width:117px;
  height:37px;
  color:#000000;
}
#u24524 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u24523_ann {
  position:absolute;
  left:621px;
  top:20px;
  width:1px;
  height:1px;
}
#u24525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u24525 {
  position:absolute;
  left:635px;
  top:20px;
  width:93px;
  height:37px;
  color:#000000;
}
#u24526 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u24527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
}
#u24527 {
  position:absolute;
  left:728px;
  top:20px;
  width:161px;
  height:37px;
  color:#000000;
}
#u24528 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u24527_ann {
  position:absolute;
  left:875px;
  top:20px;
  width:1px;
  height:1px;
}
#u24529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
}
#u24529 {
  position:absolute;
  left:889px;
  top:20px;
  width:128px;
  height:37px;
  color:#000000;
}
#u24530 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u24529_ann {
  position:absolute;
  left:1003px;
  top:20px;
  width:1px;
  height:1px;
}
#u24531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u24531 {
  position:absolute;
  left:1017px;
  top:20px;
  width:117px;
  height:37px;
  color:#000000;
}
#u24532 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u24533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:37px;
}
#u24533 {
  position:absolute;
  left:1134px;
  top:20px;
  width:168px;
  height:37px;
  color:#000000;
}
#u24534 {
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u24533_ann {
  position:absolute;
  left:1288px;
  top:20px;
  width:1px;
  height:1px;
}
#u24535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u24535 {
  position:absolute;
  left:0px;
  top:57px;
  width:128px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24536 {
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u24537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
}
#u24537 {
  position:absolute;
  left:128px;
  top:57px;
  width:91px;
  height:40px;
}
#u24538 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u24539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u24539 {
  position:absolute;
  left:219px;
  top:57px;
  width:98px;
  height:40px;
}
#u24540 {
  position:absolute;
  left:2px;
  top:11px;
  width:94px;
  word-wrap:break-word;
}
#u24541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u24541 {
  position:absolute;
  left:317px;
  top:57px;
  width:71px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24542 {
  position:absolute;
  left:2px;
  top:11px;
  width:67px;
  word-wrap:break-word;
}
#u24543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u24543 {
  position:absolute;
  left:388px;
  top:57px;
  width:130px;
  height:40px;
  color:#000000;
}
#u24544 {
  position:absolute;
  left:2px;
  top:11px;
  width:126px;
  word-wrap:break-word;
}
#u24545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u24545 {
  position:absolute;
  left:518px;
  top:57px;
  width:117px;
  height:40px;
  color:#000000;
}
#u24546 {
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  word-wrap:break-word;
}
#u24547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u24547 {
  position:absolute;
  left:635px;
  top:57px;
  width:93px;
  height:40px;
  color:#000000;
}
#u24548 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u24549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
#u24549 {
  position:absolute;
  left:728px;
  top:57px;
  width:161px;
  height:40px;
  color:#000000;
}
#u24550 {
  position:absolute;
  left:2px;
  top:11px;
  width:157px;
  word-wrap:break-word;
}
#u24551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u24551 {
  position:absolute;
  left:889px;
  top:57px;
  width:128px;
  height:40px;
  color:#000000;
}
#u24552 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u24553 {
  position:absolute;
  left:1017px;
  top:57px;
  width:117px;
  height:40px;
  color:#000000;
}
#u24554 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
}
#u24555 {
  position:absolute;
  left:1134px;
  top:57px;
  width:168px;
  height:40px;
  color:#000000;
}
#u24556 {
  position:absolute;
  left:2px;
  top:12px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:43px;
}
#u24557 {
  position:absolute;
  left:0px;
  top:97px;
  width:128px;
  height:43px;
}
#u24558 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u24559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:43px;
}
#u24559 {
  position:absolute;
  left:128px;
  top:97px;
  width:91px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24560 {
  position:absolute;
  left:2px;
  top:12px;
  width:87px;
  word-wrap:break-word;
}
#u24561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:43px;
}
#u24561 {
  position:absolute;
  left:219px;
  top:97px;
  width:98px;
  height:43px;
}
#u24562 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u24563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
}
#u24563 {
  position:absolute;
  left:317px;
  top:97px;
  width:71px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24564 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u24565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:43px;
}
#u24565 {
  position:absolute;
  left:388px;
  top:97px;
  width:130px;
  height:43px;
  color:#000000;
}
#u24566 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u24567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:43px;
}
#u24567 {
  position:absolute;
  left:518px;
  top:97px;
  width:117px;
  height:43px;
  color:#000000;
}
#u24568 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u24569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:43px;
}
#u24569 {
  position:absolute;
  left:635px;
  top:97px;
  width:93px;
  height:43px;
  color:#000000;
}
#u24570 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u24571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
}
#u24571 {
  position:absolute;
  left:728px;
  top:97px;
  width:161px;
  height:43px;
  color:#000000;
}
#u24572 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u24573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:43px;
}
#u24573 {
  position:absolute;
  left:889px;
  top:97px;
  width:128px;
  height:43px;
  color:#000000;
}
#u24574 {
  position:absolute;
  left:2px;
  top:14px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:43px;
}
#u24575 {
  position:absolute;
  left:1017px;
  top:97px;
  width:117px;
  height:43px;
  color:#000000;
}
#u24576 {
  position:absolute;
  left:2px;
  top:14px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:43px;
}
#u24577 {
  position:absolute;
  left:1134px;
  top:97px;
  width:168px;
  height:43px;
  color:#000000;
}
#u24578 {
  position:absolute;
  left:2px;
  top:14px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24490_ann {
  position:absolute;
  left:1379px;
  top:676px;
  width:1px;
  height:1px;
}
#u24579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u24579 {
  position:absolute;
  left:1094px;
  top:878px;
  width:64px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u24580 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u24581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
}
#u24581 {
  position:absolute;
  left:1187px;
  top:878px;
  width:91px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u24582 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u24583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u24583 {
  position:absolute;
  left:1309px;
  top:878px;
  width:64px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u24584 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u24583_ann {
  position:absolute;
  left:1366px;
  top:874px;
  width:1px;
  height:1px;
}
#u24585 {
  position:absolute;
  left:122px;
  top:750px;
  width:100px;
  height:16px;
}
#u24586 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24585_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24587 {
  position:absolute;
  left:94px;
  top:707px;
  width:100px;
  height:18px;
}
#u24588 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u24587_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24589 {
  position:absolute;
  left:122px;
  top:790px;
  width:23px;
  height:16px;
}
#u24590 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24589_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24591 {
  position:absolute;
  left:1329px;
  top:651px;
  width:57px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24592 {
  position:absolute;
  left:2px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24593 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24594 {
  position:absolute;
  left:79px;
  top:585px;
  width:115px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24595 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  white-space:nowrap;
}
#u24594_ann {
  position:absolute;
  left:187px;
  top:581px;
  width:1px;
  height:1px;
}
#u24596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24596 {
  position:absolute;
  left:91px;
  top:588px;
  width:15px;
  height:15px;
}
#u24597 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24598 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24599 {
  position:absolute;
  left:244px;
  top:587px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24600 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  white-space:nowrap;
}
#u24601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24601 {
  position:absolute;
  left:244px;
  top:591px;
  width:15px;
  height:15px;
}
#u24602 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24603 {
  position:absolute;
  left:88px;
  top:1054px;
  width:100px;
  height:45px;
}
#u24604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u24604 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  color:#000000;
}
#u24605 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:28px;
}
#u24606 {
  position:absolute;
  left:977px;
  top:588px;
  width:409px;
  height:28px;
}
#u24607 {
  position:absolute;
  left:2px;
  top:6px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24606_ann {
  position:absolute;
  left:1379px;
  top:584px;
  width:1px;
  height:1px;
}
#u24608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24608 {
  position:absolute;
  left:163px;
  top:207px;
  width:57px;
  height:20px;
}
#u24609 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24610 {
  position:absolute;
  left:230px;
  top:207px;
  width:128px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24611 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u24610_ann {
  position:absolute;
  left:351px;
  top:203px;
  width:1px;
  height:1px;
}
#u24612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24612 {
  position:absolute;
  left:136px;
  top:268px;
  width:87px;
  height:20px;
}
#u24613 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u24612_ann {
  position:absolute;
  left:216px;
  top:264px;
  width:1px;
  height:1px;
}
#u24614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24614 {
  position:absolute;
  left:178px;
  top:460px;
  width:43px;
  height:20px;
}
#u24615 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u24616 {
  position:absolute;
  left:225px;
  top:460px;
  width:1082px;
  height:47px;
}
#u24616_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:47px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24617 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:2px;
}
#u24618 {
  position:absolute;
  left:226px;
  top:288px;
  width:199px;
  height:1px;
}
#u24619 {
  position:absolute;
  left:2px;
  top:-8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u24620 {
  position:absolute;
  left:414px;
  top:270px;
  width:11px;
  height:8px;
}
#u24621 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24622 {
  position:absolute;
  left:241px;
  top:265px;
  width:139px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24623 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u24624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24624 {
  position:absolute;
  left:1038px;
  top:335px;
  width:57px;
  height:20px;
}
#u24625 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24626 {
  position:absolute;
  left:1105px;
  top:335px;
  width:29px;
  height:20px;
}
#u24627 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u24628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24628 {
  position:absolute;
  left:1014px;
  top:277px;
  width:83px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24629 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u24628_ann {
  position:absolute;
  left:1090px;
  top:273px;
  width:1px;
  height:1px;
}
#u24630 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:2px;
}
#u24631 {
  position:absolute;
  left:1108px;
  top:292px;
  width:199px;
  height:1px;
}
#u24632 {
  position:absolute;
  left:2px;
  top:-8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u24633 {
  position:absolute;
  left:1295px;
  top:274px;
  width:11px;
  height:8px;
}
#u24634 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24635 {
  position:absolute;
  left:1123px;
  top:269px;
  width:139px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24636 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u24637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24637 {
  position:absolute;
  left:150px;
  top:404px;
  width:71px;
  height:20px;
}
#u24638 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24639 {
  position:absolute;
  left:237px;
  top:404px;
  width:115px;
  height:16px;
}
#u24640 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u24641 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24642 {
  position:absolute;
  left:156px;
  top:330px;
  width:56px;
  height:20px;
}
#u24643 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u24644 {
  position:absolute;
  left:235px;
  top:331px;
  width:200px;
  height:24px;
}
#u24644_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24644_ann {
  position:absolute;
  left:428px;
  top:327px;
  width:1px;
  height:1px;
}
#u24645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u24645 {
  position:absolute;
  left:406px;
  top:330px;
  width:18px;
  height:23px;
  font-size:20px;
}
#u24646 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u24647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u24647 {
  position:absolute;
  left:261px;
  top:335px;
  width:64px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u24648 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u24649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u24649 {
  position:absolute;
  left:440px;
  top:340px;
  width:10px;
  height:8px;
}
#u24650 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24651 {
  position:absolute;
  left:167px;
  top:360px;
  width:299px;
  height:26px;
  overflow:hidden;
  visibility:hidden;
}
#u24651_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:26px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24651_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:784px;
}
#u24652 {
  position:absolute;
  left:0px;
  top:-165px;
  width:1000px;
  height:784px;
}
#u24653 {
  position:absolute;
  left:2px;
  top:384px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24654 {
  position:absolute;
  left:526px;
  top:-6px;
  width:200px;
  height:24px;
}
#u24654_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:815px;
}
#u24655 {
  position:absolute;
  left:0px;
  top:3px;
  width:1000px;
  height:815px;
}
#u24656 {
  position:absolute;
  left:2px;
  top:400px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24657 {
  position:absolute;
  left:457px;
  top:5px;
  width:37px;
  height:20px;
}
#u24658 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u24659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u24659 {
  position:absolute;
  left:527px;
  top:19px;
  width:200px;
  height:1px;
}
#u24660 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24661 {
  position:absolute;
  left:527px;
  top:-6px;
  width:200px;
  height:25px;
}
#u24661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24662 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24663 {
  position:absolute;
  left:68px;
  top:1px;
  width:200px;
  height:24px;
}
#u24663_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u24664 {
  position:absolute;
  left:239px;
  top:0px;
  width:18px;
  height:23px;
  font-size:20px;
}
#u24665 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u24666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u24666 {
  position:absolute;
  left:94px;
  top:5px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u24667 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u24668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24668 {
  position:absolute;
  left:278px;
  top:5px;
  width:22px;
  height:16px;
}
#u24669 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u24670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24670 {
  position:absolute;
  left:460px;
  top:336px;
  width:6px;
  height:16px;
}
#u24671 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u24670_ann {
  position:absolute;
  left:459px;
  top:332px;
  width:1px;
  height:1px;
}
#u24672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u24672 {
  position:absolute;
  left:1012px;
  top:212px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u24673 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u24674 {
  position:absolute;
  left:1097px;
  top:212px;
  width:83px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u24675 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u24676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u24676 {
  position:absolute;
  left:1182px;
  top:214px;
  width:125px;
  height:19px;
  color:#000000;
}
#u24677 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  white-space:nowrap;
}
#u24678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u24678 {
  position:absolute;
  left:225px;
  top:681px;
  width:79px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u24679 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u24680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u24680 {
  position:absolute;
  left:588px;
  top:681px;
  width:55px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u24681 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u24682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u24682 {
  position:absolute;
  left:1223px;
  top:681px;
  width:55px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u24683 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u24684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u24684 {
  position:absolute;
  left:896px;
  top:681px;
  width:136px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u24685 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u24686 {
  position:absolute;
  left:998px;
  top:741px;
  width:74px;
  height:25px;
}
#u24686_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24687 {
  position:absolute;
  left:998px;
  top:786px;
  width:74px;
  height:25px;
}
#u24687_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
