body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1044px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:1010px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20943 {
  position:absolute;
  left:0px;
  top:1px;
  width:1064px;
  height:1010px;
  opacity:0.7;
}
#u20944 {
  position:absolute;
  left:2px;
  top:497px;
  width:1060px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:557px;
}
#u20945 {
  position:absolute;
  left:-20px;
  top:-9px;
  width:721px;
  height:557px;
}
#u20946 {
  position:absolute;
  left:2px;
  top:270px;
  width:717px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20948 {
  position:absolute;
  left:303px;
  top:159px;
  width:14px;
  height:16px;
}
#u20949 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20948_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20950 {
  position:absolute;
  left:303px;
  top:179px;
  width:20px;
  height:16px;
}
#u20951 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20950_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20952 {
  position:absolute;
  left:303px;
  top:197px;
  width:20px;
  height:16px;
}
#u20953 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20952_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20954 {
  position:absolute;
  left:303px;
  top:216px;
  width:20px;
  height:16px;
}
#u20955 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20954_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
