body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1026px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:788px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u18480 {
  position:absolute;
  left:50px;
  top:138px;
  width:925px;
  height:788px;
  color:#0000FF;
}
#u18481 {
  position:absolute;
  left:2px;
  top:386px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18482 {
  position:absolute;
  left:50px;
  top:104px;
  width:925px;
  height:35px;
}
#u18483 {
  position:absolute;
  left:2px;
  top:10px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u18484 {
  position:absolute;
  left:943px;
  top:113px;
  width:14px;
  height:15px;
}
#u18485 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u18486 {
  position:absolute;
  left:65px;
  top:113px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u18487 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18488 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18489 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u18490 {
  position:absolute;
  left:965px;
  top:854px;
  width:61px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u18491 {
  position:absolute;
  left:2px;
  top:5px;
  width:57px;
  word-wrap:break-word;
}
#u18492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18492 {
  position:absolute;
  left:871px;
  top:854px;
  width:61px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18493 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u18494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18494 {
  position:absolute;
  left:149px;
  top:200px;
  width:90px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18495 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u18494_ann {
  position:absolute;
  left:232px;
  top:196px;
  width:1px;
  height:1px;
}
#u18496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18496 {
  position:absolute;
  left:725px;
  top:200px;
  width:61px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18497 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u18498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u18498 {
  position:absolute;
  left:149px;
  top:302px;
  width:73px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u18499 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u18500 {
  position:absolute;
  left:354px;
  top:302px;
  width:38px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u18501 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u18502 {
  position:absolute;
  left:150px;
  top:338px;
}
#u18502_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u18502_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18503 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18504 {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:10px;
}
#u18505 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18506 {
  position:absolute;
  left:20px;
  top:0px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18507 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18502_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u18502_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18508 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18509_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:6px;
}
#u18509 {
  position:absolute;
  left:0px;
  top:10px;
  width:10px;
  height:3px;
}
#u18510 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18511 {
  position:absolute;
  left:20px;
  top:0px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18512 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18513 {
  position:absolute;
  left:354px;
  top:369px;
}
#u18513_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u18513_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18514 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18515 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-size:14px;
}
#u18516 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u18515_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18517 {
  position:absolute;
  left:0px;
  top:32px;
  width:200px;
  height:20px;
  font-size:14px;
}
#u18518 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u18517_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18519 {
  position:absolute;
  left:0px;
  top:63px;
  width:200px;
  height:20px;
  font-size:14px;
}
#u18520 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u18519_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18513_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u18513_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18521 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18522 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-size:14px;
}
#u18523 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u18522_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18524 {
  position:absolute;
  left:0px;
  top:32px;
  width:200px;
  height:20px;
  font-size:14px;
}
#u18525 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u18524_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18526 {
  position:absolute;
  left:339px;
  top:339px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u18527 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u18526_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u18528 {
  position:absolute;
  left:661px;
  top:292px;
  width:1px;
  height:200px;
}
#u18529 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18530 {
  position:absolute;
  left:167px;
  top:368px;
  width:159px;
  height:139px;
  overflow:hidden;
  visibility:hidden;
}
#u18530_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:139px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18530_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18531 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18532 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18533 {
  position:absolute;
  left:4px;
  top:92px;
  width:10px;
  height:10px;
}
#u18534 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18535 {
  position:absolute;
  left:24px;
  top:87px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18536 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u18537 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18538 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18539 {
  position:absolute;
  left:5px;
  top:71px;
  width:10px;
  height:10px;
}
#u18540 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18541 {
  position:absolute;
  left:25px;
  top:66px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18542 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u18543 {
  position:absolute;
  left:7px;
  top:0px;
}
#u18543_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u18543_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18544 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18545_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:6px;
}
#u18545 {
  position:absolute;
  left:0px;
  top:10px;
  width:10px;
  height:3px;
}
#u18546 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18547 {
  position:absolute;
  left:20px;
  top:0px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18548 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u18543_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u18543_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18549 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18550 {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:10px;
}
#u18551 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18552 {
  position:absolute;
  left:20px;
  top:0px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18553 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u18554 {
  position:absolute;
  left:6px;
  top:21px;
  width:118px;
  height:41px;
  overflow:hidden;
}
#u18554_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18554_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18555 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18556 {
  position:absolute;
  left:18px;
  top:5px;
  width:10px;
  height:10px;
}
#u18557 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18558 {
  position:absolute;
  left:38px;
  top:0px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18559 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u18560 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18561 {
  position:absolute;
  left:19px;
  top:25px;
  width:10px;
  height:10px;
}
#u18562 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18563 {
  position:absolute;
  left:39px;
  top:20px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18564 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18565 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18566 {
  position:absolute;
  left:725px;
  top:369px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18567 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u18568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18568 {
  position:absolute;
  left:725px;
  top:399px;
  width:43px;
  height:16px;
}
#u18569 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u18570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18570 {
  position:absolute;
  left:725px;
  top:429px;
  width:43px;
  height:20px;
}
#u18571 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u18572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18572 {
  position:absolute;
  left:775px;
  top:375px;
  width:10px;
  height:10px;
}
#u18573 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18574 {
  position:absolute;
  left:776px;
  top:404px;
  width:10px;
  height:10px;
}
#u18575 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18576 {
  position:absolute;
  left:776px;
  top:434px;
  width:10px;
  height:10px;
}
#u18577 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u18578 {
  position:absolute;
  left:640px;
  top:309px;
  width:1px;
  height:200px;
}
#u18579 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
