body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1026px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:788px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u17397 {
  position:absolute;
  left:50px;
  top:138px;
  width:925px;
  height:788px;
  color:#0000FF;
}
#u17398 {
  position:absolute;
  left:2px;
  top:386px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17399 {
  position:absolute;
  left:50px;
  top:104px;
  width:925px;
  height:35px;
}
#u17400 {
  position:absolute;
  left:2px;
  top:10px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u17401 {
  position:absolute;
  left:943px;
  top:113px;
  width:14px;
  height:15px;
}
#u17402 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u17403 {
  position:absolute;
  left:65px;
  top:113px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u17404 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17405 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17406 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17407 {
  position:absolute;
  left:965px;
  top:854px;
  width:61px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17408 {
  position:absolute;
  left:2px;
  top:5px;
  width:57px;
  word-wrap:break-word;
}
#u17409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17409 {
  position:absolute;
  left:871px;
  top:854px;
  width:61px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17410 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u17411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17411 {
  position:absolute;
  left:149px;
  top:200px;
  width:90px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17412 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u17411_ann {
  position:absolute;
  left:232px;
  top:196px;
  width:1px;
  height:1px;
}
#u17413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17413 {
  position:absolute;
  left:725px;
  top:200px;
  width:61px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17414 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u17415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17415 {
  position:absolute;
  left:149px;
  top:302px;
  width:73px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17416 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17417 {
  position:absolute;
  left:354px;
  top:302px;
  width:38px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17418 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u17419 {
  position:absolute;
  left:150px;
  top:338px;
}
#u17419_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17419_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17420 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u17421 {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:10px;
}
#u17422 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17423 {
  position:absolute;
  left:20px;
  top:0px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17424 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17419_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u17419_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17425 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17426_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:6px;
}
#u17426 {
  position:absolute;
  left:0px;
  top:10px;
  width:10px;
  height:3px;
}
#u17427 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17428 {
  position:absolute;
  left:20px;
  top:0px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17429 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17430 {
  position:absolute;
  left:354px;
  top:369px;
}
#u17430_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17430_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17431 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17432 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-size:14px;
}
#u17433 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u17432_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17434 {
  position:absolute;
  left:0px;
  top:32px;
  width:200px;
  height:20px;
  font-size:14px;
}
#u17435 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u17434_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17436 {
  position:absolute;
  left:0px;
  top:63px;
  width:200px;
  height:20px;
  font-size:14px;
}
#u17437 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u17436_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17430_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u17430_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17438 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17439 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-size:14px;
}
#u17440 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u17439_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17441 {
  position:absolute;
  left:0px;
  top:32px;
  width:200px;
  height:20px;
  font-size:14px;
}
#u17442 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u17441_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17443 {
  position:absolute;
  left:339px;
  top:339px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u17444 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17443_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u17445 {
  position:absolute;
  left:661px;
  top:292px;
  width:1px;
  height:200px;
}
#u17446 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17447 {
  position:absolute;
  left:167px;
  top:368px;
  width:159px;
  height:139px;
  overflow:hidden;
  visibility:hidden;
}
#u17447_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:139px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u17447_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17448 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17449 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u17450 {
  position:absolute;
  left:4px;
  top:92px;
  width:10px;
  height:10px;
}
#u17451 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17452 {
  position:absolute;
  left:24px;
  top:87px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17453 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u17454 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17455 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u17456 {
  position:absolute;
  left:5px;
  top:71px;
  width:10px;
  height:10px;
}
#u17457 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17458 {
  position:absolute;
  left:25px;
  top:66px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17459 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u17460 {
  position:absolute;
  left:7px;
  top:0px;
}
#u17460_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17460_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17461 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17462_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:6px;
}
#u17462 {
  position:absolute;
  left:0px;
  top:10px;
  width:10px;
  height:3px;
}
#u17463 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17464 {
  position:absolute;
  left:20px;
  top:0px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17465 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u17460_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u17460_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17466 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u17467 {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:10px;
}
#u17468 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17469 {
  position:absolute;
  left:20px;
  top:0px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17470 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u17471 {
  position:absolute;
  left:6px;
  top:21px;
  width:118px;
  height:41px;
  overflow:hidden;
}
#u17471_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u17471_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17472 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u17473 {
  position:absolute;
  left:18px;
  top:5px;
  width:10px;
  height:10px;
}
#u17474 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17475 {
  position:absolute;
  left:38px;
  top:0px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17476 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u17477 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u17478 {
  position:absolute;
  left:19px;
  top:25px;
  width:10px;
  height:10px;
}
#u17479 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17480 {
  position:absolute;
  left:39px;
  top:20px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17481 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17483 {
  position:absolute;
  left:725px;
  top:369px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17484 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u17485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17485 {
  position:absolute;
  left:725px;
  top:399px;
  width:43px;
  height:16px;
}
#u17486 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u17487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17487 {
  position:absolute;
  left:725px;
  top:429px;
  width:43px;
  height:20px;
}
#u17488 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u17489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u17489 {
  position:absolute;
  left:775px;
  top:375px;
  width:10px;
  height:10px;
}
#u17490 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u17491 {
  position:absolute;
  left:776px;
  top:404px;
  width:10px;
  height:10px;
}
#u17492 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u17493 {
  position:absolute;
  left:776px;
  top:434px;
  width:10px;
  height:10px;
}
#u17494 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u17495 {
  position:absolute;
  left:640px;
  top:309px;
  width:1px;
  height:200px;
}
#u17496 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
