body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1026px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:788px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u21804 {
  position:absolute;
  left:50px;
  top:138px;
  width:925px;
  height:788px;
  color:#0000FF;
}
#u21805 {
  position:absolute;
  left:2px;
  top:386px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21806 {
  position:absolute;
  left:50px;
  top:104px;
  width:925px;
  height:35px;
}
#u21807 {
  position:absolute;
  left:2px;
  top:10px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u21808 {
  position:absolute;
  left:943px;
  top:113px;
  width:14px;
  height:15px;
}
#u21809 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u21810 {
  position:absolute;
  left:65px;
  top:113px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u21811 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21813 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21814 {
  position:absolute;
  left:965px;
  top:854px;
  width:61px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21815 {
  position:absolute;
  left:2px;
  top:5px;
  width:57px;
  word-wrap:break-word;
}
#u21816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21816 {
  position:absolute;
  left:871px;
  top:854px;
  width:61px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21817 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u21818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21818 {
  position:absolute;
  left:149px;
  top:200px;
  width:90px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21819 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u21818_ann {
  position:absolute;
  left:232px;
  top:196px;
  width:1px;
  height:1px;
}
#u21820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21820 {
  position:absolute;
  left:725px;
  top:200px;
  width:61px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21821 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u21822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u21822 {
  position:absolute;
  left:149px;
  top:302px;
  width:73px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u21823 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u21824 {
  position:absolute;
  left:354px;
  top:302px;
  width:38px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u21825 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u21826 {
  position:absolute;
  left:150px;
  top:338px;
}
#u21826_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u21826_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21828 {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:10px;
}
#u21829 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21830 {
  position:absolute;
  left:20px;
  top:0px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21831 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21826_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u21826_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21832 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21833_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:6px;
}
#u21833 {
  position:absolute;
  left:0px;
  top:10px;
  width:10px;
  height:3px;
}
#u21834 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21835 {
  position:absolute;
  left:20px;
  top:0px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21836 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21837 {
  position:absolute;
  left:354px;
  top:369px;
}
#u21837_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u21837_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21839 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-size:14px;
}
#u21840 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u21839_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21841 {
  position:absolute;
  left:0px;
  top:32px;
  width:200px;
  height:20px;
  font-size:14px;
}
#u21842 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u21841_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21843 {
  position:absolute;
  left:0px;
  top:63px;
  width:200px;
  height:20px;
  font-size:14px;
}
#u21844 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u21843_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21837_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u21837_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21846 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-size:14px;
}
#u21847 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u21846_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21848 {
  position:absolute;
  left:0px;
  top:32px;
  width:200px;
  height:20px;
  font-size:14px;
}
#u21849 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u21848_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21850 {
  position:absolute;
  left:339px;
  top:339px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u21851 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21850_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u21852 {
  position:absolute;
  left:661px;
  top:292px;
  width:1px;
  height:200px;
}
#u21853 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21854 {
  position:absolute;
  left:167px;
  top:368px;
  width:159px;
  height:139px;
  overflow:hidden;
  visibility:hidden;
}
#u21854_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:139px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21854_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21856 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21857 {
  position:absolute;
  left:4px;
  top:92px;
  width:10px;
  height:10px;
}
#u21858 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21859 {
  position:absolute;
  left:24px;
  top:87px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21860 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u21861 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21863 {
  position:absolute;
  left:5px;
  top:71px;
  width:10px;
  height:10px;
}
#u21864 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21865 {
  position:absolute;
  left:25px;
  top:66px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21866 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u21867 {
  position:absolute;
  left:7px;
  top:0px;
}
#u21867_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u21867_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21869_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:6px;
}
#u21869 {
  position:absolute;
  left:0px;
  top:10px;
  width:10px;
  height:3px;
}
#u21870 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21871 {
  position:absolute;
  left:20px;
  top:0px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21872 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u21867_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u21867_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21874 {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:10px;
}
#u21875 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21876 {
  position:absolute;
  left:20px;
  top:0px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21877 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u21878 {
  position:absolute;
  left:6px;
  top:21px;
  width:118px;
  height:41px;
  overflow:hidden;
}
#u21878_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21878_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21880 {
  position:absolute;
  left:18px;
  top:5px;
  width:10px;
  height:10px;
}
#u21881 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21882 {
  position:absolute;
  left:38px;
  top:0px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21883 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u21884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21885 {
  position:absolute;
  left:19px;
  top:25px;
  width:10px;
  height:10px;
}
#u21886 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21887 {
  position:absolute;
  left:39px;
  top:20px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21888 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21890 {
  position:absolute;
  left:725px;
  top:369px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21891 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u21892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21892 {
  position:absolute;
  left:725px;
  top:399px;
  width:43px;
  height:16px;
}
#u21893 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u21894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21894 {
  position:absolute;
  left:725px;
  top:429px;
  width:43px;
  height:20px;
}
#u21895 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u21896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21896 {
  position:absolute;
  left:775px;
  top:375px;
  width:10px;
  height:10px;
}
#u21897 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21898 {
  position:absolute;
  left:776px;
  top:404px;
  width:10px;
  height:10px;
}
#u21899 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21900 {
  position:absolute;
  left:776px;
  top:434px;
  width:10px;
  height:10px;
}
#u21901 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u21902 {
  position:absolute;
  left:640px;
  top:309px;
  width:1px;
  height:200px;
}
#u21903 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
