body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:66px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6797 {
  position:absolute;
  left:0px;
  top:4px;
  width:1130px;
  height:66px;
}
#u6798 {
  position:absolute;
  left:2px;
  top:25px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:69px;
}
#u6799 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:69px;
}
#u6800 {
  position:absolute;
  left:2px;
  top:26px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6801 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6802 {
  position:absolute;
  left:149px;
  top:3px;
  width:90px;
  height:66px;
  opacity:0;
}
#u6803 {
  position:absolute;
  left:2px;
  top:25px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:54px;
}
#u6804 {
  position:absolute;
  left:180px;
  top:10px;
  width:28px;
  height:54px;
}
#u6805 {
  position:absolute;
  left:2px;
  top:19px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6806 {
  position:absolute;
  left:164px;
  top:39px;
  width:61px;
  height:20px;
  color:#666666;
}
#u6807 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6809 {
  position:absolute;
  left:239px;
  top:3px;
  width:90px;
  height:66px;
  opacity:0;
}
#u6810 {
  position:absolute;
  left:2px;
  top:25px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:54px;
}
#u6811 {
  position:absolute;
  left:270px;
  top:10px;
  width:28px;
  height:54px;
}
#u6812 {
  position:absolute;
  left:2px;
  top:19px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6813 {
  position:absolute;
  left:254px;
  top:39px;
  width:66px;
  height:20px;
  color:#666666;
}
#u6814 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6816 {
  position:absolute;
  left:329px;
  top:3px;
  width:90px;
  height:66px;
}
#u6817 {
  position:absolute;
  left:2px;
  top:25px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:54px;
}
#u6818 {
  position:absolute;
  left:360px;
  top:10px;
  width:28px;
  height:54px;
}
#u6819 {
  position:absolute;
  left:2px;
  top:19px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6820 {
  position:absolute;
  left:344px;
  top:39px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6821 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6822 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6823 {
  position:absolute;
  left:409px;
  top:3px;
  width:90px;
  height:66px;
  opacity:0;
}
#u6824 {
  position:absolute;
  left:2px;
  top:25px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6825 {
  position:absolute;
  left:424px;
  top:39px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6826 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6827 {
  position:absolute;
  left:444px;
  top:16px;
  width:17px;
  height:17px;
}
#u6828 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6829 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6830 {
  position:absolute;
  left:491px;
  top:3px;
  width:90px;
  height:66px;
  opacity:0;
}
#u6831 {
  position:absolute;
  left:2px;
  top:25px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6832 {
  position:absolute;
  left:506px;
  top:39px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6833 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6834 {
  position:absolute;
  left:526px;
  top:16px;
  width:17px;
  height:17px;
}
#u6835 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6837 {
  position:absolute;
  left:577px;
  top:3px;
  width:90px;
  height:66px;
  opacity:0;
}
#u6838 {
  position:absolute;
  left:2px;
  top:25px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6839 {
  position:absolute;
  left:592px;
  top:39px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6840 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6841 {
  position:absolute;
  left:612px;
  top:16px;
  width:17px;
  height:17px;
}
#u6842 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u6843 {
  position:absolute;
  left:1086px;
  top:22px;
  width:30px;
  height:30px;
  font-size:6px;
  color:#666666;
}
#u6844 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  word-wrap:break-word;
}
#u6845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6845 {
  position:absolute;
  left:1033px;
  top:30px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6846 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6847 {
  position:absolute;
  left:940px;
  top:30px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6848 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6849 {
  position:absolute;
  left:868px;
  top:30px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6850 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u6851 {
  position:absolute;
  left:929px;
  top:23px;
  width:1px;
  height:30px;
  color:#666666;
}
#u6852 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u6853 {
  position:absolute;
  left:1021px;
  top:25px;
  width:1px;
  height:30px;
  color:#666666;
}
#u6854 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u6855 {
  position:absolute;
  left:833px;
  top:29px;
  width:25px;
  height:23px;
  color:#666666;
}
#u6856 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:676px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6857 {
  position:absolute;
  left:6px;
  top:79px;
  width:150px;
  height:676px;
}
#u6858 {
  position:absolute;
  left:2px;
  top:330px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6860 {
  position:absolute;
  left:20px;
  top:119px;
  width:15px;
  height:15px;
}
#u6861 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6862 {
  position:absolute;
  left:45px;
  top:117px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6863 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u6864 {
  position:absolute;
  left:120px;
  top:122px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6865 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6866 {
  position:absolute;
  left:20px;
  top:142px;
  width:120px;
  height:222px;
  overflow:hidden;
}
#u6866_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:222px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  background-image:none;
}
#u6866_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6867 {
  position:absolute;
  left:0px;
  top:30px;
  width:15px;
  height:15px;
}
#u6868 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6869 {
  position:absolute;
  left:25px;
  top:27px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6870 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6872 {
  position:absolute;
  left:0px;
  top:130px;
  width:15px;
  height:15px;
}
#u6873 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6874 {
  position:absolute;
  left:25px;
  top:127px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6875 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6877 {
  position:absolute;
  left:0px;
  top:187px;
  width:15px;
  height:15px;
}
#u6878 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6879 {
  position:absolute;
  left:25px;
  top:184px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6880 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6882 {
  position:absolute;
  left:0px;
  top:3px;
  width:15px;
  height:15px;
}
#u6883 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6884 {
  position:absolute;
  left:25px;
  top:2px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6885 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6886 {
  position:absolute;
  left:0px;
  top:53px;
  width:15px;
  height:15px;
}
#u6887 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6888 {
  position:absolute;
  left:25px;
  top:51px;
  width:43px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6889 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6891 {
  position:absolute;
  left:0px;
  top:76px;
  width:15px;
  height:15px;
}
#u6892 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6893 {
  position:absolute;
  left:25px;
  top:74px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6894 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6896 {
  position:absolute;
  left:0px;
  top:103px;
  width:15px;
  height:15px;
}
#u6897 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6898 {
  position:absolute;
  left:25px;
  top:101px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6899 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6901 {
  position:absolute;
  left:0px;
  top:157px;
  width:15px;
  height:15px;
}
#u6902 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6903 {
  position:absolute;
  left:25px;
  top:154px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6904 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6906 {
  position:absolute;
  left:20px;
  top:387px;
  width:15px;
  height:15px;
}
#u6907 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6908 {
  position:absolute;
  left:45px;
  top:385px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6909 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u6910 {
  position:absolute;
  left:120px;
  top:390px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6911 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6912 {
  position:absolute;
  left:20px;
  top:424px;
  width:120px;
  height:178px;
  overflow:hidden;
}
#u6912_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:178px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  background-image:none;
}
#u6912_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6913 {
  position:absolute;
  left:0px;
  top:54px;
  width:15px;
  height:15px;
}
#u6914 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6915 {
  position:absolute;
  left:25px;
  top:51px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6916 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6917 {
  position:absolute;
  left:0px;
  top:28px;
  width:15px;
  height:15px;
}
#u6918 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6919 {
  position:absolute;
  left:25px;
  top:25px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6920 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6921 {
  position:absolute;
  left:0px;
  top:3px;
  width:15px;
  height:15px;
}
#u6922 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6923 {
  position:absolute;
  left:25px;
  top:0px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6924 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6926 {
  position:absolute;
  left:0px;
  top:104px;
  width:15px;
  height:15px;
}
#u6927 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6928 {
  position:absolute;
  left:25px;
  top:103px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6929 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6931 {
  position:absolute;
  left:0px;
  top:78px;
  width:15px;
  height:15px;
}
#u6932 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6933 {
  position:absolute;
  left:25px;
  top:77px;
  width:57px;
  height:20px;
}
#u6934 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6936 {
  position:absolute;
  left:0px;
  top:128px;
  width:15px;
  height:15px;
}
#u6937 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6938 {
  position:absolute;
  left:25px;
  top:127px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6939 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6941 {
  position:absolute;
  left:0px;
  top:154px;
  width:15px;
  height:15px;
}
#u6942 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6943 {
  position:absolute;
  left:25px;
  top:153px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6944 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6945 {
  position:absolute;
  left:20px;
  top:657px;
  width:120px;
  height:81px;
  overflow:hidden;
}
#u6945_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:81px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  background-image:none;
}
#u6945_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6946 {
  position:absolute;
  left:0px;
  top:3px;
  width:15px;
  height:15px;
}
#u6947 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6948 {
  position:absolute;
  left:25px;
  top:0px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6949 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6951 {
  position:absolute;
  left:20px;
  top:629px;
  width:15px;
  height:15px;
}
#u6952 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6953 {
  position:absolute;
  left:45px;
  top:627px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6954 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u6955 {
  position:absolute;
  left:120px;
  top:632px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6956 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6957 {
  position:absolute;
  left:166px;
  top:119px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6958 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6957_ann {
  position:absolute;
  left:250px;
  top:115px;
  width:1px;
  height:1px;
}
#u6959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6959 {
  position:absolute;
  left:166px;
  top:81px;
  width:190px;
  height:20px;
}
#u6960 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u6961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6962 {
  position:absolute;
  left:184px;
  top:163px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6963 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u6964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6964 {
  position:absolute;
  left:166px;
  top:166px;
  width:15px;
  height:15px;
}
#u6965 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6967 {
  position:absolute;
  left:265px;
  top:162px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6968 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u6969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6969 {
  position:absolute;
  left:248px;
  top:166px;
  width:15px;
  height:15px;
}
#u6970 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6971 {
  position:absolute;
  left:260px;
  top:217px;
  width:169px;
  height:20px;
}
#u6972 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u6973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6973 {
  position:absolute;
  left:457px;
  top:217px;
  width:43px;
  height:20px;
}
#u6974 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u6975 {
  position:absolute;
  left:429px;
  top:217px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u6976 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
