body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1368px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20461 {
  position:absolute;
  left:53px;
  top:104px;
  width:1368px;
  height:35px;
}
#u20462 {
  position:absolute;
  left:2px;
  top:10px;
  width:1364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:1002px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u20463 {
  position:absolute;
  left:53px;
  top:139px;
  width:1365px;
  height:1002px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u20464 {
  position:absolute;
  left:2px;
  top:493px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u20465 {
  position:absolute;
  left:1390px;
  top:113px;
  width:16px;
  height:15px;
}
#u20466 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u20467 {
  position:absolute;
  left:55px;
  top:113px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u20468 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u20469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u20469 {
  position:absolute;
  left:88px;
  top:169px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u20470 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u20471 {
  position:absolute;
  left:63px;
  top:537px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u20472 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20473 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20474 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20475 {
  position:absolute;
  left:1329px;
  top:149px;
  width:31px;
  height:22px;
}
#u20476 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u20477 {
  position:absolute;
  left:84px;
  top:680px;
  width:1307px;
  height:145px;
}
#u20478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
}
#u20478 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
  color:#000000;
}
#u20479 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u20480 {
  position:absolute;
  left:128px;
  top:0px;
  width:91px;
  height:20px;
  color:#000000;
}
#u20481 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u20482 {
  position:absolute;
  left:219px;
  top:0px;
  width:98px;
  height:20px;
  color:#000000;
}
#u20483 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u20484 {
  position:absolute;
  left:317px;
  top:0px;
  width:71px;
  height:20px;
  color:#000000;
}
#u20485 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u20486 {
  position:absolute;
  left:388px;
  top:0px;
  width:130px;
  height:20px;
  color:#000000;
}
#u20487 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
}
#u20488 {
  position:absolute;
  left:518px;
  top:0px;
  width:117px;
  height:20px;
  color:#000000;
}
#u20489 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u20490 {
  position:absolute;
  left:635px;
  top:0px;
  width:93px;
  height:20px;
  color:#000000;
}
#u20491 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
}
#u20492 {
  position:absolute;
  left:728px;
  top:0px;
  width:161px;
  height:20px;
  color:#000000;
}
#u20493 {
  position:absolute;
  left:2px;
  top:2px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
}
#u20494 {
  position:absolute;
  left:889px;
  top:0px;
  width:128px;
  height:20px;
  color:#000000;
}
#u20495 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
}
#u20496 {
  position:absolute;
  left:1017px;
  top:0px;
  width:117px;
  height:20px;
  color:#000000;
}
#u20497 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:20px;
}
#u20498 {
  position:absolute;
  left:1134px;
  top:0px;
  width:168px;
  height:20px;
  color:#000000;
}
#u20499 {
  position:absolute;
  left:2px;
  top:2px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
}
#u20500 {
  position:absolute;
  left:0px;
  top:20px;
  width:128px;
  height:37px;
  color:#000000;
}
#u20501 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u20502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u20502 {
  position:absolute;
  left:128px;
  top:20px;
  width:91px;
  height:37px;
  color:#000000;
}
#u20503 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u20504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u20504 {
  position:absolute;
  left:219px;
  top:20px;
  width:98px;
  height:37px;
  color:#000000;
}
#u20505 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u20504_ann {
  position:absolute;
  left:303px;
  top:20px;
  width:1px;
  height:1px;
}
#u20506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u20506 {
  position:absolute;
  left:317px;
  top:20px;
  width:71px;
  height:37px;
  color:#000000;
}
#u20507 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u20508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u20508 {
  position:absolute;
  left:388px;
  top:20px;
  width:130px;
  height:37px;
  color:#000000;
}
#u20509 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u20508_ann {
  position:absolute;
  left:504px;
  top:20px;
  width:1px;
  height:1px;
}
#u20510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u20510 {
  position:absolute;
  left:518px;
  top:20px;
  width:117px;
  height:37px;
  color:#000000;
}
#u20511 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u20510_ann {
  position:absolute;
  left:621px;
  top:20px;
  width:1px;
  height:1px;
}
#u20512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u20512 {
  position:absolute;
  left:635px;
  top:20px;
  width:93px;
  height:37px;
  color:#000000;
}
#u20513 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u20514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
}
#u20514 {
  position:absolute;
  left:728px;
  top:20px;
  width:161px;
  height:37px;
  color:#000000;
}
#u20515 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u20514_ann {
  position:absolute;
  left:875px;
  top:20px;
  width:1px;
  height:1px;
}
#u20516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
}
#u20516 {
  position:absolute;
  left:889px;
  top:20px;
  width:128px;
  height:37px;
  color:#000000;
}
#u20517 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u20516_ann {
  position:absolute;
  left:1003px;
  top:20px;
  width:1px;
  height:1px;
}
#u20518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u20518 {
  position:absolute;
  left:1017px;
  top:20px;
  width:117px;
  height:37px;
  color:#000000;
}
#u20519 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u20520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:37px;
}
#u20520 {
  position:absolute;
  left:1134px;
  top:20px;
  width:168px;
  height:37px;
  color:#000000;
}
#u20521 {
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u20520_ann {
  position:absolute;
  left:1288px;
  top:20px;
  width:1px;
  height:1px;
}
#u20522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u20522 {
  position:absolute;
  left:0px;
  top:57px;
  width:128px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20523 {
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u20524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
}
#u20524 {
  position:absolute;
  left:128px;
  top:57px;
  width:91px;
  height:40px;
}
#u20525 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u20526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u20526 {
  position:absolute;
  left:219px;
  top:57px;
  width:98px;
  height:40px;
}
#u20527 {
  position:absolute;
  left:2px;
  top:11px;
  width:94px;
  word-wrap:break-word;
}
#u20528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u20528 {
  position:absolute;
  left:317px;
  top:57px;
  width:71px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20529 {
  position:absolute;
  left:2px;
  top:11px;
  width:67px;
  word-wrap:break-word;
}
#u20530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u20530 {
  position:absolute;
  left:388px;
  top:57px;
  width:130px;
  height:40px;
  color:#000000;
}
#u20531 {
  position:absolute;
  left:2px;
  top:11px;
  width:126px;
  word-wrap:break-word;
}
#u20532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u20532 {
  position:absolute;
  left:518px;
  top:57px;
  width:117px;
  height:40px;
  color:#000000;
}
#u20533 {
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  word-wrap:break-word;
}
#u20534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u20534 {
  position:absolute;
  left:635px;
  top:57px;
  width:93px;
  height:40px;
  color:#000000;
}
#u20535 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u20536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
#u20536 {
  position:absolute;
  left:728px;
  top:57px;
  width:161px;
  height:40px;
  color:#000000;
}
#u20537 {
  position:absolute;
  left:2px;
  top:11px;
  width:157px;
  word-wrap:break-word;
}
#u20538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u20538 {
  position:absolute;
  left:889px;
  top:57px;
  width:128px;
  height:40px;
  color:#000000;
}
#u20539 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u20540 {
  position:absolute;
  left:1017px;
  top:57px;
  width:117px;
  height:40px;
  color:#000000;
}
#u20541 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
}
#u20542 {
  position:absolute;
  left:1134px;
  top:57px;
  width:168px;
  height:40px;
  color:#000000;
}
#u20543 {
  position:absolute;
  left:2px;
  top:12px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:43px;
}
#u20544 {
  position:absolute;
  left:0px;
  top:97px;
  width:128px;
  height:43px;
}
#u20545 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u20546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:43px;
}
#u20546 {
  position:absolute;
  left:128px;
  top:97px;
  width:91px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20547 {
  position:absolute;
  left:2px;
  top:12px;
  width:87px;
  word-wrap:break-word;
}
#u20548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:43px;
}
#u20548 {
  position:absolute;
  left:219px;
  top:97px;
  width:98px;
  height:43px;
}
#u20549 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u20550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
}
#u20550 {
  position:absolute;
  left:317px;
  top:97px;
  width:71px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20551 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u20552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:43px;
}
#u20552 {
  position:absolute;
  left:388px;
  top:97px;
  width:130px;
  height:43px;
  color:#000000;
}
#u20553 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u20554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:43px;
}
#u20554 {
  position:absolute;
  left:518px;
  top:97px;
  width:117px;
  height:43px;
  color:#000000;
}
#u20555 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u20556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:43px;
}
#u20556 {
  position:absolute;
  left:635px;
  top:97px;
  width:93px;
  height:43px;
  color:#000000;
}
#u20557 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u20558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
}
#u20558 {
  position:absolute;
  left:728px;
  top:97px;
  width:161px;
  height:43px;
  color:#000000;
}
#u20559 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u20560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:43px;
}
#u20560 {
  position:absolute;
  left:889px;
  top:97px;
  width:128px;
  height:43px;
  color:#000000;
}
#u20561 {
  position:absolute;
  left:2px;
  top:14px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:43px;
}
#u20562 {
  position:absolute;
  left:1017px;
  top:97px;
  width:117px;
  height:43px;
  color:#000000;
}
#u20563 {
  position:absolute;
  left:2px;
  top:14px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:43px;
}
#u20564 {
  position:absolute;
  left:1134px;
  top:97px;
  width:168px;
  height:43px;
  color:#000000;
}
#u20565 {
  position:absolute;
  left:2px;
  top:14px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20477_ann {
  position:absolute;
  left:1379px;
  top:676px;
  width:1px;
  height:1px;
}
#u20566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u20566 {
  position:absolute;
  left:1094px;
  top:878px;
  width:64px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u20567 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u20568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
}
#u20568 {
  position:absolute;
  left:1187px;
  top:878px;
  width:91px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u20569 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u20570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u20570 {
  position:absolute;
  left:1309px;
  top:878px;
  width:64px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u20571 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u20570_ann {
  position:absolute;
  left:1366px;
  top:874px;
  width:1px;
  height:1px;
}
#u20572 {
  position:absolute;
  left:122px;
  top:750px;
  width:100px;
  height:16px;
}
#u20573 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20572_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20574 {
  position:absolute;
  left:94px;
  top:707px;
  width:100px;
  height:18px;
}
#u20575 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20574_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20576 {
  position:absolute;
  left:122px;
  top:790px;
  width:23px;
  height:16px;
}
#u20577 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20576_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20578 {
  position:absolute;
  left:1329px;
  top:651px;
  width:57px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20579 {
  position:absolute;
  left:2px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20580 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20581 {
  position:absolute;
  left:79px;
  top:585px;
  width:115px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20582 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  white-space:nowrap;
}
#u20581_ann {
  position:absolute;
  left:187px;
  top:581px;
  width:1px;
  height:1px;
}
#u20583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u20583 {
  position:absolute;
  left:91px;
  top:588px;
  width:15px;
  height:15px;
}
#u20584 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20585 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20586 {
  position:absolute;
  left:244px;
  top:587px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20587 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  white-space:nowrap;
}
#u20588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u20588 {
  position:absolute;
  left:244px;
  top:591px;
  width:15px;
  height:15px;
}
#u20589 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20590 {
  position:absolute;
  left:88px;
  top:1054px;
  width:100px;
  height:45px;
}
#u20591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u20591 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  color:#000000;
}
#u20592 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:28px;
}
#u20593 {
  position:absolute;
  left:977px;
  top:588px;
  width:409px;
  height:28px;
}
#u20594 {
  position:absolute;
  left:2px;
  top:6px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20593_ann {
  position:absolute;
  left:1379px;
  top:584px;
  width:1px;
  height:1px;
}
#u20595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20595 {
  position:absolute;
  left:163px;
  top:207px;
  width:57px;
  height:20px;
}
#u20596 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20597 {
  position:absolute;
  left:230px;
  top:207px;
  width:128px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20598 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u20597_ann {
  position:absolute;
  left:351px;
  top:203px;
  width:1px;
  height:1px;
}
#u20599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20599 {
  position:absolute;
  left:136px;
  top:268px;
  width:87px;
  height:20px;
}
#u20600 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u20599_ann {
  position:absolute;
  left:216px;
  top:264px;
  width:1px;
  height:1px;
}
#u20601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20601 {
  position:absolute;
  left:178px;
  top:460px;
  width:43px;
  height:20px;
}
#u20602 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u20603 {
  position:absolute;
  left:225px;
  top:460px;
  width:1082px;
  height:47px;
}
#u20603_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:47px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20604 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:2px;
}
#u20605 {
  position:absolute;
  left:226px;
  top:288px;
  width:199px;
  height:1px;
}
#u20606 {
  position:absolute;
  left:2px;
  top:-8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u20607 {
  position:absolute;
  left:414px;
  top:270px;
  width:11px;
  height:8px;
}
#u20608 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20609 {
  position:absolute;
  left:241px;
  top:265px;
  width:139px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20610 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u20611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20611 {
  position:absolute;
  left:1038px;
  top:335px;
  width:57px;
  height:20px;
}
#u20612 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20613 {
  position:absolute;
  left:1105px;
  top:335px;
  width:29px;
  height:20px;
}
#u20614 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20615 {
  position:absolute;
  left:1014px;
  top:277px;
  width:83px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20616 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u20615_ann {
  position:absolute;
  left:1090px;
  top:273px;
  width:1px;
  height:1px;
}
#u20617 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:2px;
}
#u20618 {
  position:absolute;
  left:1108px;
  top:292px;
  width:199px;
  height:1px;
}
#u20619 {
  position:absolute;
  left:2px;
  top:-8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u20620 {
  position:absolute;
  left:1295px;
  top:274px;
  width:11px;
  height:8px;
}
#u20621 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20622 {
  position:absolute;
  left:1123px;
  top:269px;
  width:139px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20623 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u20624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20624 {
  position:absolute;
  left:150px;
  top:404px;
  width:71px;
  height:20px;
}
#u20625 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20626 {
  position:absolute;
  left:237px;
  top:404px;
  width:115px;
  height:16px;
}
#u20627 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u20628 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20629 {
  position:absolute;
  left:156px;
  top:330px;
  width:56px;
  height:20px;
}
#u20630 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u20631 {
  position:absolute;
  left:235px;
  top:331px;
  width:200px;
  height:24px;
}
#u20631_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20631_ann {
  position:absolute;
  left:428px;
  top:327px;
  width:1px;
  height:1px;
}
#u20632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u20632 {
  position:absolute;
  left:406px;
  top:330px;
  width:18px;
  height:23px;
  font-size:20px;
}
#u20633 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u20634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u20634 {
  position:absolute;
  left:261px;
  top:335px;
  width:64px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u20635 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u20636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u20636 {
  position:absolute;
  left:440px;
  top:340px;
  width:10px;
  height:8px;
}
#u20637 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20638 {
  position:absolute;
  left:167px;
  top:360px;
  width:299px;
  height:26px;
  overflow:hidden;
  visibility:hidden;
}
#u20638_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:26px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20638_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:784px;
}
#u20639 {
  position:absolute;
  left:0px;
  top:-165px;
  width:1000px;
  height:784px;
}
#u20640 {
  position:absolute;
  left:2px;
  top:384px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20641 {
  position:absolute;
  left:526px;
  top:-6px;
  width:200px;
  height:24px;
}
#u20641_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:815px;
}
#u20642 {
  position:absolute;
  left:0px;
  top:3px;
  width:1000px;
  height:815px;
}
#u20643 {
  position:absolute;
  left:2px;
  top:400px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20644 {
  position:absolute;
  left:457px;
  top:5px;
  width:37px;
  height:20px;
}
#u20645 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u20646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u20646 {
  position:absolute;
  left:527px;
  top:19px;
  width:200px;
  height:1px;
}
#u20647 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20648 {
  position:absolute;
  left:527px;
  top:-6px;
  width:200px;
  height:25px;
}
#u20648_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20650 {
  position:absolute;
  left:68px;
  top:1px;
  width:200px;
  height:24px;
}
#u20650_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u20651 {
  position:absolute;
  left:239px;
  top:0px;
  width:18px;
  height:23px;
  font-size:20px;
}
#u20652 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u20653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u20653 {
  position:absolute;
  left:94px;
  top:5px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u20654 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u20655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20655 {
  position:absolute;
  left:278px;
  top:5px;
  width:22px;
  height:16px;
}
#u20656 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u20657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20657 {
  position:absolute;
  left:460px;
  top:336px;
  width:6px;
  height:16px;
}
#u20658 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u20657_ann {
  position:absolute;
  left:459px;
  top:332px;
  width:1px;
  height:1px;
}
#u20659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u20659 {
  position:absolute;
  left:1012px;
  top:212px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u20660 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u20661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u20661 {
  position:absolute;
  left:1097px;
  top:212px;
  width:83px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u20662 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u20663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u20663 {
  position:absolute;
  left:1182px;
  top:214px;
  width:125px;
  height:19px;
  color:#000000;
}
#u20664 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  white-space:nowrap;
}
#u20665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u20665 {
  position:absolute;
  left:225px;
  top:681px;
  width:79px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u20666 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u20667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u20667 {
  position:absolute;
  left:588px;
  top:681px;
  width:55px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u20668 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u20669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u20669 {
  position:absolute;
  left:1223px;
  top:681px;
  width:55px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u20670 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u20671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u20671 {
  position:absolute;
  left:896px;
  top:681px;
  width:136px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u20672 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u20673 {
  position:absolute;
  left:998px;
  top:741px;
  width:74px;
  height:25px;
}
#u20673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20674 {
  position:absolute;
  left:998px;
  top:786px;
  width:74px;
  height:25px;
}
#u20674_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
