body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1368px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21628 {
  position:absolute;
  left:53px;
  top:104px;
  width:1368px;
  height:35px;
}
#u21629 {
  position:absolute;
  left:2px;
  top:10px;
  width:1364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:1002px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21630 {
  position:absolute;
  left:53px;
  top:139px;
  width:1365px;
  height:1002px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21631 {
  position:absolute;
  left:2px;
  top:493px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u21632 {
  position:absolute;
  left:1390px;
  top:113px;
  width:16px;
  height:15px;
}
#u21633 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u21634 {
  position:absolute;
  left:55px;
  top:113px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u21635 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21636 {
  position:absolute;
  left:88px;
  top:169px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21637 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21638 {
  position:absolute;
  left:63px;
  top:537px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21639 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21640 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21641 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21642 {
  position:absolute;
  left:1329px;
  top:149px;
  width:31px;
  height:22px;
}
#u21643 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u21644 {
  position:absolute;
  left:84px;
  top:680px;
  width:1307px;
  height:145px;
}
#u21645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
}
#u21645 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
  color:#000000;
}
#u21646 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u21647 {
  position:absolute;
  left:128px;
  top:0px;
  width:91px;
  height:20px;
  color:#000000;
}
#u21648 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u21649 {
  position:absolute;
  left:219px;
  top:0px;
  width:98px;
  height:20px;
  color:#000000;
}
#u21650 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u21651 {
  position:absolute;
  left:317px;
  top:0px;
  width:71px;
  height:20px;
  color:#000000;
}
#u21652 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u21653 {
  position:absolute;
  left:388px;
  top:0px;
  width:130px;
  height:20px;
  color:#000000;
}
#u21654 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
}
#u21655 {
  position:absolute;
  left:518px;
  top:0px;
  width:117px;
  height:20px;
  color:#000000;
}
#u21656 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u21657 {
  position:absolute;
  left:635px;
  top:0px;
  width:93px;
  height:20px;
  color:#000000;
}
#u21658 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
}
#u21659 {
  position:absolute;
  left:728px;
  top:0px;
  width:161px;
  height:20px;
  color:#000000;
}
#u21660 {
  position:absolute;
  left:2px;
  top:2px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
}
#u21661 {
  position:absolute;
  left:889px;
  top:0px;
  width:128px;
  height:20px;
  color:#000000;
}
#u21662 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
}
#u21663 {
  position:absolute;
  left:1017px;
  top:0px;
  width:117px;
  height:20px;
  color:#000000;
}
#u21664 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:20px;
}
#u21665 {
  position:absolute;
  left:1134px;
  top:0px;
  width:168px;
  height:20px;
  color:#000000;
}
#u21666 {
  position:absolute;
  left:2px;
  top:2px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
}
#u21667 {
  position:absolute;
  left:0px;
  top:20px;
  width:128px;
  height:37px;
  color:#000000;
}
#u21668 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u21669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u21669 {
  position:absolute;
  left:128px;
  top:20px;
  width:91px;
  height:37px;
  color:#000000;
}
#u21670 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u21671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u21671 {
  position:absolute;
  left:219px;
  top:20px;
  width:98px;
  height:37px;
  color:#000000;
}
#u21672 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u21671_ann {
  position:absolute;
  left:303px;
  top:20px;
  width:1px;
  height:1px;
}
#u21673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u21673 {
  position:absolute;
  left:317px;
  top:20px;
  width:71px;
  height:37px;
  color:#000000;
}
#u21674 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u21675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u21675 {
  position:absolute;
  left:388px;
  top:20px;
  width:130px;
  height:37px;
  color:#000000;
}
#u21676 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u21675_ann {
  position:absolute;
  left:504px;
  top:20px;
  width:1px;
  height:1px;
}
#u21677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u21677 {
  position:absolute;
  left:518px;
  top:20px;
  width:117px;
  height:37px;
  color:#000000;
}
#u21678 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u21677_ann {
  position:absolute;
  left:621px;
  top:20px;
  width:1px;
  height:1px;
}
#u21679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u21679 {
  position:absolute;
  left:635px;
  top:20px;
  width:93px;
  height:37px;
  color:#000000;
}
#u21680 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u21681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
}
#u21681 {
  position:absolute;
  left:728px;
  top:20px;
  width:161px;
  height:37px;
  color:#000000;
}
#u21682 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u21681_ann {
  position:absolute;
  left:875px;
  top:20px;
  width:1px;
  height:1px;
}
#u21683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
}
#u21683 {
  position:absolute;
  left:889px;
  top:20px;
  width:128px;
  height:37px;
  color:#000000;
}
#u21684 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u21683_ann {
  position:absolute;
  left:1003px;
  top:20px;
  width:1px;
  height:1px;
}
#u21685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u21685 {
  position:absolute;
  left:1017px;
  top:20px;
  width:117px;
  height:37px;
  color:#000000;
}
#u21686 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u21687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:37px;
}
#u21687 {
  position:absolute;
  left:1134px;
  top:20px;
  width:168px;
  height:37px;
  color:#000000;
}
#u21688 {
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u21687_ann {
  position:absolute;
  left:1288px;
  top:20px;
  width:1px;
  height:1px;
}
#u21689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u21689 {
  position:absolute;
  left:0px;
  top:57px;
  width:128px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21690 {
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u21691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
}
#u21691 {
  position:absolute;
  left:128px;
  top:57px;
  width:91px;
  height:40px;
}
#u21692 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u21693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u21693 {
  position:absolute;
  left:219px;
  top:57px;
  width:98px;
  height:40px;
}
#u21694 {
  position:absolute;
  left:2px;
  top:11px;
  width:94px;
  word-wrap:break-word;
}
#u21695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u21695 {
  position:absolute;
  left:317px;
  top:57px;
  width:71px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21696 {
  position:absolute;
  left:2px;
  top:11px;
  width:67px;
  word-wrap:break-word;
}
#u21697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u21697 {
  position:absolute;
  left:388px;
  top:57px;
  width:130px;
  height:40px;
  color:#000000;
}
#u21698 {
  position:absolute;
  left:2px;
  top:11px;
  width:126px;
  word-wrap:break-word;
}
#u21699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u21699 {
  position:absolute;
  left:518px;
  top:57px;
  width:117px;
  height:40px;
  color:#000000;
}
#u21700 {
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  word-wrap:break-word;
}
#u21701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u21701 {
  position:absolute;
  left:635px;
  top:57px;
  width:93px;
  height:40px;
  color:#000000;
}
#u21702 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u21703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
#u21703 {
  position:absolute;
  left:728px;
  top:57px;
  width:161px;
  height:40px;
  color:#000000;
}
#u21704 {
  position:absolute;
  left:2px;
  top:11px;
  width:157px;
  word-wrap:break-word;
}
#u21705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u21705 {
  position:absolute;
  left:889px;
  top:57px;
  width:128px;
  height:40px;
  color:#000000;
}
#u21706 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u21707 {
  position:absolute;
  left:1017px;
  top:57px;
  width:117px;
  height:40px;
  color:#000000;
}
#u21708 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
}
#u21709 {
  position:absolute;
  left:1134px;
  top:57px;
  width:168px;
  height:40px;
  color:#000000;
}
#u21710 {
  position:absolute;
  left:2px;
  top:12px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:43px;
}
#u21711 {
  position:absolute;
  left:0px;
  top:97px;
  width:128px;
  height:43px;
}
#u21712 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u21713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:43px;
}
#u21713 {
  position:absolute;
  left:128px;
  top:97px;
  width:91px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21714 {
  position:absolute;
  left:2px;
  top:12px;
  width:87px;
  word-wrap:break-word;
}
#u21715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:43px;
}
#u21715 {
  position:absolute;
  left:219px;
  top:97px;
  width:98px;
  height:43px;
}
#u21716 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u21717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
}
#u21717 {
  position:absolute;
  left:317px;
  top:97px;
  width:71px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21718 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u21719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:43px;
}
#u21719 {
  position:absolute;
  left:388px;
  top:97px;
  width:130px;
  height:43px;
  color:#000000;
}
#u21720 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u21721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:43px;
}
#u21721 {
  position:absolute;
  left:518px;
  top:97px;
  width:117px;
  height:43px;
  color:#000000;
}
#u21722 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u21723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:43px;
}
#u21723 {
  position:absolute;
  left:635px;
  top:97px;
  width:93px;
  height:43px;
  color:#000000;
}
#u21724 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u21725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
}
#u21725 {
  position:absolute;
  left:728px;
  top:97px;
  width:161px;
  height:43px;
  color:#000000;
}
#u21726 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u21727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:43px;
}
#u21727 {
  position:absolute;
  left:889px;
  top:97px;
  width:128px;
  height:43px;
  color:#000000;
}
#u21728 {
  position:absolute;
  left:2px;
  top:14px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:43px;
}
#u21729 {
  position:absolute;
  left:1017px;
  top:97px;
  width:117px;
  height:43px;
  color:#000000;
}
#u21730 {
  position:absolute;
  left:2px;
  top:14px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:43px;
}
#u21731 {
  position:absolute;
  left:1134px;
  top:97px;
  width:168px;
  height:43px;
  color:#000000;
}
#u21732 {
  position:absolute;
  left:2px;
  top:14px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21644_ann {
  position:absolute;
  left:1379px;
  top:676px;
  width:1px;
  height:1px;
}
#u21733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u21733 {
  position:absolute;
  left:1094px;
  top:878px;
  width:64px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u21734 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u21735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
}
#u21735 {
  position:absolute;
  left:1187px;
  top:878px;
  width:91px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u21736 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u21737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21737 {
  position:absolute;
  left:1309px;
  top:878px;
  width:64px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21738 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u21737_ann {
  position:absolute;
  left:1366px;
  top:874px;
  width:1px;
  height:1px;
}
#u21739 {
  position:absolute;
  left:122px;
  top:750px;
  width:100px;
  height:16px;
}
#u21740 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21739_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21741 {
  position:absolute;
  left:94px;
  top:707px;
  width:100px;
  height:18px;
}
#u21742 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21741_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21743 {
  position:absolute;
  left:122px;
  top:790px;
  width:23px;
  height:16px;
}
#u21744 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21743_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21745 {
  position:absolute;
  left:1329px;
  top:651px;
  width:57px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21746 {
  position:absolute;
  left:2px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21747 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21748 {
  position:absolute;
  left:79px;
  top:585px;
  width:115px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21749 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  white-space:nowrap;
}
#u21748_ann {
  position:absolute;
  left:187px;
  top:581px;
  width:1px;
  height:1px;
}
#u21750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21750 {
  position:absolute;
  left:91px;
  top:588px;
  width:15px;
  height:15px;
}
#u21751 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21752 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21753 {
  position:absolute;
  left:244px;
  top:587px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21754 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  white-space:nowrap;
}
#u21755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21755 {
  position:absolute;
  left:244px;
  top:591px;
  width:15px;
  height:15px;
}
#u21756 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21757 {
  position:absolute;
  left:88px;
  top:1054px;
  width:100px;
  height:45px;
}
#u21758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u21758 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  color:#000000;
}
#u21759 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:28px;
}
#u21760 {
  position:absolute;
  left:977px;
  top:588px;
  width:409px;
  height:28px;
}
#u21761 {
  position:absolute;
  left:2px;
  top:6px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21760_ann {
  position:absolute;
  left:1379px;
  top:584px;
  width:1px;
  height:1px;
}
#u21762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21762 {
  position:absolute;
  left:163px;
  top:207px;
  width:57px;
  height:20px;
}
#u21763 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21764 {
  position:absolute;
  left:230px;
  top:207px;
  width:128px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21765 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u21764_ann {
  position:absolute;
  left:351px;
  top:203px;
  width:1px;
  height:1px;
}
#u21766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21766 {
  position:absolute;
  left:136px;
  top:268px;
  width:87px;
  height:20px;
}
#u21767 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u21766_ann {
  position:absolute;
  left:216px;
  top:264px;
  width:1px;
  height:1px;
}
#u21768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21768 {
  position:absolute;
  left:178px;
  top:460px;
  width:43px;
  height:20px;
}
#u21769 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u21770 {
  position:absolute;
  left:225px;
  top:460px;
  width:1082px;
  height:47px;
}
#u21770_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:47px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21771 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:2px;
}
#u21772 {
  position:absolute;
  left:226px;
  top:288px;
  width:199px;
  height:1px;
}
#u21773 {
  position:absolute;
  left:2px;
  top:-8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u21774 {
  position:absolute;
  left:414px;
  top:270px;
  width:11px;
  height:8px;
}
#u21775 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21776 {
  position:absolute;
  left:241px;
  top:265px;
  width:139px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21777 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u21778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21778 {
  position:absolute;
  left:1038px;
  top:335px;
  width:57px;
  height:20px;
}
#u21779 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21780 {
  position:absolute;
  left:1105px;
  top:335px;
  width:29px;
  height:20px;
}
#u21781 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21782 {
  position:absolute;
  left:1014px;
  top:277px;
  width:83px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21783 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u21782_ann {
  position:absolute;
  left:1090px;
  top:273px;
  width:1px;
  height:1px;
}
#u21784 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:2px;
}
#u21785 {
  position:absolute;
  left:1108px;
  top:292px;
  width:199px;
  height:1px;
}
#u21786 {
  position:absolute;
  left:2px;
  top:-8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u21787 {
  position:absolute;
  left:1295px;
  top:274px;
  width:11px;
  height:8px;
}
#u21788 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21789 {
  position:absolute;
  left:1123px;
  top:269px;
  width:139px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21790 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u21791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21791 {
  position:absolute;
  left:150px;
  top:404px;
  width:71px;
  height:20px;
}
#u21792 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u21793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21793 {
  position:absolute;
  left:237px;
  top:404px;
  width:115px;
  height:16px;
}
#u21794 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u21795 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21796 {
  position:absolute;
  left:156px;
  top:330px;
  width:56px;
  height:20px;
}
#u21797 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u21798 {
  position:absolute;
  left:235px;
  top:331px;
  width:200px;
  height:24px;
}
#u21798_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21798_ann {
  position:absolute;
  left:428px;
  top:327px;
  width:1px;
  height:1px;
}
#u21799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21799 {
  position:absolute;
  left:406px;
  top:330px;
  width:18px;
  height:23px;
  font-size:20px;
}
#u21800 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u21801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u21801 {
  position:absolute;
  left:261px;
  top:335px;
  width:64px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u21802 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u21803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u21803 {
  position:absolute;
  left:440px;
  top:340px;
  width:10px;
  height:8px;
}
#u21804 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21805 {
  position:absolute;
  left:167px;
  top:360px;
  width:299px;
  height:26px;
  overflow:hidden;
  visibility:hidden;
}
#u21805_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:26px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21805_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:784px;
}
#u21806 {
  position:absolute;
  left:0px;
  top:-165px;
  width:1000px;
  height:784px;
}
#u21807 {
  position:absolute;
  left:2px;
  top:384px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21808 {
  position:absolute;
  left:526px;
  top:-6px;
  width:200px;
  height:24px;
}
#u21808_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:815px;
}
#u21809 {
  position:absolute;
  left:0px;
  top:3px;
  width:1000px;
  height:815px;
}
#u21810 {
  position:absolute;
  left:2px;
  top:400px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21811 {
  position:absolute;
  left:457px;
  top:5px;
  width:37px;
  height:20px;
}
#u21812 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u21813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u21813 {
  position:absolute;
  left:527px;
  top:19px;
  width:200px;
  height:1px;
}
#u21814 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21815 {
  position:absolute;
  left:527px;
  top:-6px;
  width:200px;
  height:25px;
}
#u21815_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21816 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21817 {
  position:absolute;
  left:68px;
  top:1px;
  width:200px;
  height:24px;
}
#u21817_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21818 {
  position:absolute;
  left:239px;
  top:0px;
  width:18px;
  height:23px;
  font-size:20px;
}
#u21819 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u21820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u21820 {
  position:absolute;
  left:94px;
  top:5px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u21821 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u21822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21822 {
  position:absolute;
  left:278px;
  top:5px;
  width:22px;
  height:16px;
}
#u21823 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u21824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21824 {
  position:absolute;
  left:460px;
  top:336px;
  width:6px;
  height:16px;
}
#u21825 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u21824_ann {
  position:absolute;
  left:459px;
  top:332px;
  width:1px;
  height:1px;
}
#u21826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21826 {
  position:absolute;
  left:1012px;
  top:212px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21827 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u21828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u21828 {
  position:absolute;
  left:1097px;
  top:212px;
  width:83px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u21829 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u21830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u21830 {
  position:absolute;
  left:1182px;
  top:214px;
  width:125px;
  height:19px;
  color:#000000;
}
#u21831 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  white-space:nowrap;
}
#u21832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21832 {
  position:absolute;
  left:225px;
  top:681px;
  width:79px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21833 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u21834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21834 {
  position:absolute;
  left:588px;
  top:681px;
  width:55px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21835 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u21836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21836 {
  position:absolute;
  left:1223px;
  top:681px;
  width:55px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21837 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u21838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21838 {
  position:absolute;
  left:896px;
  top:681px;
  width:136px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21839 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u21840 {
  position:absolute;
  left:998px;
  top:741px;
  width:74px;
  height:25px;
}
#u21840_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21841 {
  position:absolute;
  left:998px;
  top:786px;
  width:74px;
  height:25px;
}
#u21841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
