body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24473 {
  position:absolute;
  left:30px;
  top:721px;
  width:146px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24474 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u24475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:386px;
}
#u24475 {
  position:absolute;
  left:200px;
  top:797px;
  width:377px;
  height:386px;
}
#u24476 {
  position:absolute;
  left:2px;
  top:185px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24477 {
  position:absolute;
  left:30px;
  top:19px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24478 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u24479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:577px;
}
#u24479 {
  position:absolute;
  left:200px;
  top:66px;
  width:773px;
  height:577px;
}
#u24480 {
  position:absolute;
  left:2px;
  top:280px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u24481 {
  position:absolute;
  left:30px;
  top:1276px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u24482 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u24483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:374px;
}
#u24483 {
  position:absolute;
  left:200px;
  top:1330px;
  width:566px;
  height:374px;
}
#u24484 {
  position:absolute;
  left:2px;
  top:179px;
  width:562px;
  visibility:hidden;
  word-wrap:break-word;
}
