body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:361px;
}
#u1970 {
  position:absolute;
  left:130px;
  top:118px;
  width:670px;
  height:361px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:172px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
