body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1075px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19445 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:1010px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19446 {
  position:absolute;
  left:11px;
  top:-6px;
  width:1064px;
  height:1010px;
  opacity:0.7;
}
#u19447 {
  position:absolute;
  left:2px;
  top:497px;
  width:1060px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19448 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:32px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19449 {
  position:absolute;
  left:61px;
  top:44px;
  width:902px;
  height:32px;
}
#u19450 {
  position:absolute;
  left:2px;
  top:8px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:382px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19451 {
  position:absolute;
  left:61px;
  top:78px;
  width:902px;
  height:382px;
}
#u19452 {
  position:absolute;
  left:2px;
  top:183px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u19453 {
  position:absolute;
  left:931px;
  top:53px;
  width:15px;
  height:13px;
}
#u19454 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19455 {
  position:absolute;
  left:71px;
  top:53px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19456 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19457 {
  position:absolute;
  left:128px;
  top:168px;
  width:696px;
  height:173px;
}
#u19458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u19458 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19459 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u19460 {
  position:absolute;
  left:47px;
  top:0px;
  width:115px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19461 {
  position:absolute;
  left:2px;
  top:11px;
  width:111px;
  word-wrap:break-word;
}
#u19462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:40px;
}
#u19462 {
  position:absolute;
  left:162px;
  top:0px;
  width:212px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19463 {
  position:absolute;
  left:2px;
  top:11px;
  width:208px;
  word-wrap:break-word;
}
#u19464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:40px;
}
#u19464 {
  position:absolute;
  left:374px;
  top:0px;
  width:317px;
  height:40px;
}
#u19465 {
  position:absolute;
  left:2px;
  top:11px;
  width:313px;
  word-wrap:break-word;
}
#u19466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:39px;
}
#u19466 {
  position:absolute;
  left:0px;
  top:40px;
  width:47px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19467 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:39px;
}
#u19468 {
  position:absolute;
  left:47px;
  top:40px;
  width:115px;
  height:39px;
}
#u19469 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u19470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:39px;
}
#u19470 {
  position:absolute;
  left:162px;
  top:40px;
  width:212px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19471 {
  position:absolute;
  left:2px;
  top:10px;
  width:208px;
  word-wrap:break-word;
}
#u19472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:39px;
}
#u19472 {
  position:absolute;
  left:374px;
  top:40px;
  width:317px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19473 {
  position:absolute;
  left:2px;
  top:10px;
  width:313px;
  word-wrap:break-word;
}
#u19474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u19474 {
  position:absolute;
  left:0px;
  top:79px;
  width:47px;
  height:40px;
}
#u19475 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u19476 {
  position:absolute;
  left:47px;
  top:79px;
  width:115px;
  height:40px;
}
#u19477 {
  position:absolute;
  left:2px;
  top:11px;
  width:111px;
  word-wrap:break-word;
}
#u19478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:40px;
}
#u19478 {
  position:absolute;
  left:162px;
  top:79px;
  width:212px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19479 {
  position:absolute;
  left:2px;
  top:11px;
  width:208px;
  word-wrap:break-word;
}
#u19480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:40px;
}
#u19480 {
  position:absolute;
  left:374px;
  top:79px;
  width:317px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19481 {
  position:absolute;
  left:2px;
  top:12px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:49px;
}
#u19482 {
  position:absolute;
  left:0px;
  top:119px;
  width:47px;
  height:49px;
}
#u19483 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:49px;
}
#u19484 {
  position:absolute;
  left:47px;
  top:119px;
  width:115px;
  height:49px;
}
#u19485 {
  position:absolute;
  left:2px;
  top:16px;
  width:111px;
  word-wrap:break-word;
}
#u19486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:49px;
}
#u19486 {
  position:absolute;
  left:162px;
  top:119px;
  width:212px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19487 {
  position:absolute;
  left:2px;
  top:16px;
  width:208px;
  word-wrap:break-word;
}
#u19488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:49px;
}
#u19488 {
  position:absolute;
  left:374px;
  top:119px;
  width:317px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19489 {
  position:absolute;
  left:2px;
  top:16px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19490 {
  position:absolute;
  left:674px;
  top:361px;
  width:60px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19491 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u19492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19492 {
  position:absolute;
  left:762px;
  top:361px;
  width:60px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19493 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u19494 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19495 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19496 {
  position:absolute;
  left:128px;
  top:137px;
  width:329px;
  height:23px;
}
#u19496_input {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u19497 {
  position:absolute;
  left:138px;
  top:144px;
  width:15px;
  height:10px;
}
#u19498 {
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19499 {
  position:absolute;
  left:469px;
  top:137px;
  width:55px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19500 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u19499_ann {
  position:absolute;
  left:517px;
  top:133px;
  width:1px;
  height:1px;
}
#u19501 {
  position:absolute;
  left:157px;
  top:221px;
  width:110px;
  height:16px;
}
#u19502 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19501_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19503 {
  position:absolute;
  left:157px;
  top:260px;
  width:110px;
  height:16px;
}
#u19504 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19503_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19505 {
  position:absolute;
  left:157px;
  top:305px;
  width:110px;
  height:16px;
}
#u19506 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19505_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19507 {
  position:absolute;
  left:138px;
  top:180px;
  width:110px;
  height:18px;
}
#u19508 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u19507_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
