body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1075px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:1010px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19062 {
  position:absolute;
  left:11px;
  top:-6px;
  width:1064px;
  height:1010px;
  opacity:0.7;
}
#u19063 {
  position:absolute;
  left:2px;
  top:497px;
  width:1060px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:32px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19065 {
  position:absolute;
  left:61px;
  top:44px;
  width:902px;
  height:32px;
}
#u19066 {
  position:absolute;
  left:2px;
  top:8px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:382px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19067 {
  position:absolute;
  left:61px;
  top:78px;
  width:902px;
  height:382px;
}
#u19068 {
  position:absolute;
  left:2px;
  top:183px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u19069 {
  position:absolute;
  left:931px;
  top:53px;
  width:15px;
  height:13px;
}
#u19070 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19071 {
  position:absolute;
  left:71px;
  top:53px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19072 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19073 {
  position:absolute;
  left:128px;
  top:168px;
  width:696px;
  height:173px;
}
#u19074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u19074 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19075 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u19076 {
  position:absolute;
  left:47px;
  top:0px;
  width:115px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19077 {
  position:absolute;
  left:2px;
  top:11px;
  width:111px;
  word-wrap:break-word;
}
#u19078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:40px;
}
#u19078 {
  position:absolute;
  left:162px;
  top:0px;
  width:212px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19079 {
  position:absolute;
  left:2px;
  top:11px;
  width:208px;
  word-wrap:break-word;
}
#u19080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:40px;
}
#u19080 {
  position:absolute;
  left:374px;
  top:0px;
  width:317px;
  height:40px;
}
#u19081 {
  position:absolute;
  left:2px;
  top:11px;
  width:313px;
  word-wrap:break-word;
}
#u19082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:39px;
}
#u19082 {
  position:absolute;
  left:0px;
  top:40px;
  width:47px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19083 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:39px;
}
#u19084 {
  position:absolute;
  left:47px;
  top:40px;
  width:115px;
  height:39px;
}
#u19085 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u19086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:39px;
}
#u19086 {
  position:absolute;
  left:162px;
  top:40px;
  width:212px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19087 {
  position:absolute;
  left:2px;
  top:10px;
  width:208px;
  word-wrap:break-word;
}
#u19088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:39px;
}
#u19088 {
  position:absolute;
  left:374px;
  top:40px;
  width:317px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19089 {
  position:absolute;
  left:2px;
  top:10px;
  width:313px;
  word-wrap:break-word;
}
#u19090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u19090 {
  position:absolute;
  left:0px;
  top:79px;
  width:47px;
  height:40px;
}
#u19091 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u19092 {
  position:absolute;
  left:47px;
  top:79px;
  width:115px;
  height:40px;
}
#u19093 {
  position:absolute;
  left:2px;
  top:11px;
  width:111px;
  word-wrap:break-word;
}
#u19094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:40px;
}
#u19094 {
  position:absolute;
  left:162px;
  top:79px;
  width:212px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19095 {
  position:absolute;
  left:2px;
  top:11px;
  width:208px;
  word-wrap:break-word;
}
#u19096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:40px;
}
#u19096 {
  position:absolute;
  left:374px;
  top:79px;
  width:317px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19097 {
  position:absolute;
  left:2px;
  top:12px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:49px;
}
#u19098 {
  position:absolute;
  left:0px;
  top:119px;
  width:47px;
  height:49px;
}
#u19099 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:49px;
}
#u19100 {
  position:absolute;
  left:47px;
  top:119px;
  width:115px;
  height:49px;
}
#u19101 {
  position:absolute;
  left:2px;
  top:16px;
  width:111px;
  word-wrap:break-word;
}
#u19102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:49px;
}
#u19102 {
  position:absolute;
  left:162px;
  top:119px;
  width:212px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19103 {
  position:absolute;
  left:2px;
  top:16px;
  width:208px;
  word-wrap:break-word;
}
#u19104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:49px;
}
#u19104 {
  position:absolute;
  left:374px;
  top:119px;
  width:317px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19105 {
  position:absolute;
  left:2px;
  top:16px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19106 {
  position:absolute;
  left:674px;
  top:361px;
  width:60px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19107 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u19108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19108 {
  position:absolute;
  left:762px;
  top:361px;
  width:60px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19109 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u19110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19112 {
  position:absolute;
  left:128px;
  top:137px;
  width:329px;
  height:23px;
}
#u19112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u19113 {
  position:absolute;
  left:138px;
  top:144px;
  width:15px;
  height:10px;
}
#u19114 {
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19115 {
  position:absolute;
  left:469px;
  top:137px;
  width:55px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19116 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u19115_ann {
  position:absolute;
  left:517px;
  top:133px;
  width:1px;
  height:1px;
}
#u19117 {
  position:absolute;
  left:157px;
  top:221px;
  width:110px;
  height:16px;
}
#u19118 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19117_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19119 {
  position:absolute;
  left:157px;
  top:260px;
  width:110px;
  height:16px;
}
#u19120 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19121 {
  position:absolute;
  left:157px;
  top:305px;
  width:110px;
  height:16px;
}
#u19122 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19121_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19123 {
  position:absolute;
  left:138px;
  top:180px;
  width:110px;
  height:18px;
}
#u19124 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u19123_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
