body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:701px;
}
#u14236 {
  position:absolute;
  left:0px;
  top:10px;
  width:1345px;
  height:701px;
}
#u14237 {
  position:absolute;
  left:2px;
  top:342px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
