body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:351px;
}
#u3597 {
  position:absolute;
  left:45px;
  top:55px;
  width:722px;
  height:351px;
}
#u3598 {
  position:absolute;
  left:2px;
  top:168px;
  width:718px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3599 {
  position:absolute;
  left:311px;
  top:176px;
  width:200px;
  height:16px;
}
#u3600 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u3599_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3601 {
  position:absolute;
  left:311px;
  top:232px;
  width:200px;
  height:16px;
}
#u3602 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u3601_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3603 {
  position:absolute;
  left:311px;
  top:146px;
  width:200px;
  height:16px;
}
#u3604 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u3603_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
