body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
}
#u23569 {
  position:absolute;
  left:52px;
  top:15px;
  width:265px;
  height:26px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
}
#u23570 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u23571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u23571 {
  position:absolute;
  left:52px;
  top:81px;
  width:265px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u23572 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u23573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:511px;
}
#u23573 {
  position:absolute;
  left:52px;
  top:110px;
  width:592px;
  height:511px;
}
#u23574 {
  position:absolute;
  left:2px;
  top:248px;
  width:588px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u23575 {
  position:absolute;
  left:52px;
  top:679px;
  width:151px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u23576 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u23577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:616px;
}
#u23577 {
  position:absolute;
  left:-206px;
  top:708px;
  width:1091px;
  height:616px;
}
#u23578 {
  position:absolute;
  left:2px;
  top:300px;
  width:1087px;
  visibility:hidden;
  word-wrap:break-word;
}
