body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:779px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16993 {
  position:absolute;
  left:50px;
  top:679px;
  width:689px;
  height:75px;
}
#u16994 {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  word-wrap:break-word;
}
#u16995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16995 {
  position:absolute;
  left:23px;
  top:1280px;
  width:689px;
  height:76px;
}
#u16996 {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  word-wrap:break-word;
}
#u16997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16997 {
  position:absolute;
  left:23px;
  top:1467px;
  width:689px;
  height:96px;
}
#u16998 {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  word-wrap:break-word;
}
#u16999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u16999 {
  position:absolute;
  left:11px;
  top:0px;
  width:202px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u17000 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u17001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:585px;
}
#u17001 {
  position:absolute;
  left:11px;
  top:45px;
  width:768px;
  height:585px;
}
#u17002 {
  position:absolute;
  left:2px;
  top:284px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:494px;
}
#u17003 {
  position:absolute;
  left:11px;
  top:754px;
  width:747px;
  height:494px;
}
#u17004 {
  position:absolute;
  left:2px;
  top:239px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
