body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:788px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:643px;
}
#u7223 {
  position:absolute;
  left:280px;
  top:553px;
  width:508px;
  height:643px;
}
#u7224 {
  position:absolute;
  left:2px;
  top:314px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7225 {
  position:absolute;
  left:69px;
  top:102px;
  width:668px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7226 {
  position:absolute;
  left:2px;
  top:16px;
  width:664px;
  word-wrap:break-word;
}
#u7227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:281px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7227 {
  position:absolute;
  left:62px;
  top:189px;
  width:120px;
  height:281px;
}
#u7228 {
  position:absolute;
  left:2px;
  top:132px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7230 {
  position:absolute;
  left:98px;
  top:202px;
  width:41px;
  height:28px;
  font-size:20px;
}
#u7231 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7232 {
  position:absolute;
  left:75px;
  top:243px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7233 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u7234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7234 {
  position:absolute;
  left:75px;
  top:289px;
  width:83px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7235 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u7236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:281px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7237 {
  position:absolute;
  left:192px;
  top:189px;
  width:109px;
  height:281px;
}
#u7238 {
  position:absolute;
  left:2px;
  top:132px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7239 {
  position:absolute;
  left:226px;
  top:202px;
  width:41px;
  height:28px;
  font-size:20px;
}
#u7240 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7241 {
  position:absolute;
  left:223px;
  top:250px;
  width:57px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7242 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7243 {
  position:absolute;
  left:223px;
  top:290px;
  width:69px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7244 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7245 {
  position:absolute;
  left:223px;
  top:390px;
  width:43px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7246 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  visibility:hidden;
  white-space:nowrap;
}
#u7247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7247 {
  position:absolute;
  left:203px;
  top:243px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7248 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u7249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7249 {
  position:absolute;
  left:203px;
  top:296px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7250 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u7251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7251 {
  position:absolute;
  left:203px;
  top:350px;
  width:83px;
  height:30px;
  font-size:14px;
}
#u7252 {
  position:absolute;
  left:2px;
  top:5px;
  width:79px;
  word-wrap:break-word;
}
#u7253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7253 {
  position:absolute;
  left:203px;
  top:406px;
  width:83px;
  height:30px;
  font-size:14px;
}
#u7254 {
  position:absolute;
  left:2px;
  top:5px;
  width:79px;
  word-wrap:break-word;
}
#u7255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:281px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7255 {
  position:absolute;
  left:346px;
  top:189px;
  width:109px;
  height:281px;
}
#u7256 {
  position:absolute;
  left:2px;
  top:132px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7257 {
  position:absolute;
  left:380px;
  top:202px;
  width:41px;
  height:28px;
  font-size:20px;
}
#u7258 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:281px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7259 {
  position:absolute;
  left:489px;
  top:189px;
  width:109px;
  height:281px;
}
#u7260 {
  position:absolute;
  left:2px;
  top:132px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7261 {
  position:absolute;
  left:502px;
  top:202px;
  width:81px;
  height:28px;
  font-size:20px;
}
#u7262 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:281px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7263 {
  position:absolute;
  left:628px;
  top:189px;
  width:109px;
  height:281px;
}
#u7264 {
  position:absolute;
  left:2px;
  top:132px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7265 {
  position:absolute;
  left:644px;
  top:202px;
  width:81px;
  height:28px;
  font-size:20px;
}
#u7266 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7267 {
  position:absolute;
  left:361px;
  top:290px;
  width:57px;
  height:16px;
}
#u7268 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  visibility:hidden;
  white-space:nowrap;
}
#u7269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7269 {
  position:absolute;
  left:366px;
  top:333px;
  width:43px;
  height:16px;
}
#u7270 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  visibility:hidden;
  white-space:nowrap;
}
#u7271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7271 {
  position:absolute;
  left:638px;
  top:290px;
  width:89px;
  height:16px;
}
#u7272 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  visibility:hidden;
  white-space:nowrap;
}
#u7273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7273 {
  position:absolute;
  left:361px;
  top:243px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7274 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u7275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7275 {
  position:absolute;
  left:361px;
  top:296px;
  width:83px;
  height:30px;
  font-size:14px;
}
#u7276 {
  position:absolute;
  left:2px;
  top:5px;
  width:79px;
  word-wrap:break-word;
}
#u7277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7277 {
  position:absolute;
  left:361px;
  top:350px;
  width:83px;
  height:30px;
  font-size:14px;
}
#u7278 {
  position:absolute;
  left:2px;
  top:5px;
  width:79px;
  word-wrap:break-word;
}
#u7279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7279 {
  position:absolute;
  left:502px;
  top:243px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7280 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u7281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7281 {
  position:absolute;
  left:502px;
  top:296px;
  width:83px;
  height:30px;
  font-size:14px;
}
#u7282 {
  position:absolute;
  left:2px;
  top:5px;
  width:79px;
  word-wrap:break-word;
}
#u7283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7283 {
  position:absolute;
  left:502px;
  top:350px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7284 {
  position:absolute;
  left:2px;
  top:5px;
  width:79px;
  word-wrap:break-word;
}
#u7285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7285 {
  position:absolute;
  left:644px;
  top:247px;
  width:83px;
  height:30px;
  font-size:14px;
}
#u7286 {
  position:absolute;
  left:2px;
  top:-3px;
  width:79px;
  word-wrap:break-word;
}
#u7287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7287 {
  position:absolute;
  left:62px;
  top:6px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7288 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u7289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:149px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7289 {
  position:absolute;
  left:312px;
  top:595px;
  width:97px;
  height:149px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7290 {
  position:absolute;
  left:2px;
  top:64px;
  width:93px;
  word-wrap:break-word;
}
#u7291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:149px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7291 {
  position:absolute;
  left:312px;
  top:795px;
  width:97px;
  height:149px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7292 {
  position:absolute;
  left:2px;
  top:64px;
  width:93px;
  word-wrap:break-word;
}
#u7293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:156px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7293 {
  position:absolute;
  left:309px;
  top:989px;
  width:100px;
  height:156px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7294 {
  position:absolute;
  left:2px;
  top:67px;
  width:96px;
  word-wrap:break-word;
}
#u7295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:544px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7295 {
  position:absolute;
  left:505px;
  top:601px;
  width:93px;
  height:544px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7296 {
  position:absolute;
  left:2px;
  top:239px;
  width:89px;
  word-wrap:break-word;
}
#u7297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:142px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7297 {
  position:absolute;
  left:662px;
  top:757px;
  width:98px;
  height:142px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7298 {
  position:absolute;
  left:2px;
  top:60px;
  width:94px;
  word-wrap:break-word;
}
#u7299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:643px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7299 {
  position:absolute;
  left:62px;
  top:553px;
  width:172px;
  height:643px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7300 {
  position:absolute;
  left:2px;
  top:272px;
  width:168px;
  word-wrap:break-word;
}
#u7301_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:122px;
  height:24px;
}
#u7301 {
  position:absolute;
  left:216px;
  top:840px;
  width:109px;
  height:4px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7302 {
  position:absolute;
  left:2px;
  top:-6px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7303 {
  position:absolute;
  left:248px;
  top:825px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7304 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7305_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:121px;
  height:25px;
}
#u7305 {
  position:absolute;
  left:216px;
  top:915px;
  width:109px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u7306 {
  position:absolute;
  left:2px;
  top:-6px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7307 {
  position:absolute;
  left:216px;
  top:885px;
  width:118px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7308 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u7309_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:121px;
  height:25px;
}
#u7309 {
  position:absolute;
  left:221px;
  top:1065px;
  width:109px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u7310 {
  position:absolute;
  left:2px;
  top:-6px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7311 {
  position:absolute;
  left:250px;
  top:1038px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7312 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7313_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:134px;
  height:25px;
}
#u7313 {
  position:absolute;
  left:398px;
  top:689px;
  width:122px;
  height:5px;
}
#u7314 {
  position:absolute;
  left:2px;
  top:-6px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7315 {
  position:absolute;
  left:441px;
  top:663px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7316 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7317_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:134px;
  height:25px;
}
#u7317 {
  position:absolute;
  left:398px;
  top:871px;
  width:122px;
  height:5px;
}
#u7318 {
  position:absolute;
  left:2px;
  top:-6px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7319 {
  position:absolute;
  left:432px;
  top:852px;
  width:57px;
  height:20px;
}
#u7320 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7321_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:123px;
  height:25px;
}
#u7321 {
  position:absolute;
  left:409px;
  top:1065px;
  width:111px;
  height:5px;
}
#u7322 {
  position:absolute;
  left:2px;
  top:-6px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7323 {
  position:absolute;
  left:443px;
  top:1039px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7324 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7325_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:114px;
  height:25px;
}
#u7325 {
  position:absolute;
  left:586px;
  top:825px;
  width:102px;
  height:5px;
}
#u7326 {
  position:absolute;
  left:2px;
  top:-6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7327 {
  position:absolute;
  left:724px;
  top:582px;
  width:51px;
  height:21px;
  font-size:18px;
}
#u7328 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u7329_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:115px;
  height:25px;
}
#u7329 {
  position:absolute;
  left:225px;
  top:724px;
  width:102px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7330 {
  position:absolute;
  left:2px;
  top:-6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7331_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:115px;
  height:25px;
}
#u7331 {
  position:absolute;
  left:225px;
  top:663px;
  width:102px;
  height:5px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7332 {
  position:absolute;
  left:2px;
  top:-6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7333 {
  position:absolute;
  left:227px;
  top:643px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7334 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u7335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7335 {
  position:absolute;
  left:258px;
  top:729px;
  width:43px;
  height:20px;
}
#u7336 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
