body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:897px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:728px;
}
#u23372 {
  position:absolute;
  left:-172px;
  top:-17px;
  width:1241px;
  height:728px;
}
#u23373 {
  position:absolute;
  left:2px;
  top:356px;
  width:1237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23374 {
  position:absolute;
  left:229px;
  top:336px;
  width:61px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23375 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u23374_ann {
  position:absolute;
  left:283px;
  top:332px;
  width:1px;
  height:1px;
}
#u23376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u23376 {
  position:absolute;
  left:252px;
  top:322px;
  width:15px;
  height:15px;
}
#u23377 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23378 {
  position:absolute;
  left:318px;
  top:337px;
  width:83px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23379 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u23378_ann {
  position:absolute;
  left:394px;
  top:333px;
  width:1px;
  height:1px;
}
#u23380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u23380 {
  position:absolute;
  left:352px;
  top:322px;
  width:16px;
  height:15px;
}
#u23381 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23382 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23383 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23384 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:368px;
}
#u23385 {
  position:absolute;
  left:80px;
  top:86px;
  width:712px;
  height:368px;
}
#u23386 {
  position:absolute;
  left:2px;
  top:176px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23387 {
  position:absolute;
  left:707px;
  top:420px;
  width:82px;
  height:35px;
  opacity:0;
}
#u23388 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23389 {
  position:absolute;
  left:631px;
  top:420px;
  width:76px;
  height:27px;
  opacity:0;
}
#u23390 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23391 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:20px;
}
#u23392 {
  position:absolute;
  left:92px;
  top:211px;
  width:700px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23393 {
  position:absolute;
  left:2px;
  top:2px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:21px;
}
#u23394 {
  position:absolute;
  left:92px;
  top:211px;
  width:321px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23395 {
  position:absolute;
  left:2px;
  top:2px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23396 {
  position:absolute;
  left:413px;
  top:211px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23397 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u23398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 233, 198, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u23398 {
  position:absolute;
  left:392px;
  top:192px;
  width:101px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u23399 {
  position:absolute;
  left:15px;
  top:15px;
  width:71px;
  white-space:nowrap;
}
#u23400 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 204, 209, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u23401 {
  position:absolute;
  left:315px;
  top:265px;
  width:242px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u23402 {
  position:absolute;
  left:15px;
  top:15px;
  width:212px;
  word-wrap:break-word;
}
#u23403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u23403 {
  position:absolute;
  left:535px;
  top:265px;
  width:22px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u23403_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u23403.mouseOver {
}
#u23403_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u23403.mouseDown {
}
#u23404 {
  position:absolute;
  left:5px;
  top:14px;
  width:12px;
  white-space:nowrap;
}
