body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3819 {
  position:absolute;
  left:568px;
  top:260px;
  width:160px;
  height:22px;
}
#u3819_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3819_input:disabled {
  color:grayText;
}
#u3821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:66px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3821 {
  position:absolute;
  left:0px;
  top:4px;
  width:1130px;
  height:66px;
}
#u3822 {
  position:absolute;
  left:2px;
  top:25px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:69px;
}
#u3823 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:69px;
}
#u3824 {
  position:absolute;
  left:2px;
  top:26px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3826 {
  position:absolute;
  left:149px;
  top:3px;
  width:90px;
  height:66px;
  opacity:0;
}
#u3827 {
  position:absolute;
  left:2px;
  top:25px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:54px;
}
#u3828 {
  position:absolute;
  left:180px;
  top:10px;
  width:28px;
  height:54px;
}
#u3829 {
  position:absolute;
  left:2px;
  top:19px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3830 {
  position:absolute;
  left:164px;
  top:39px;
  width:61px;
  height:20px;
  color:#666666;
}
#u3831 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3832 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3833 {
  position:absolute;
  left:239px;
  top:3px;
  width:90px;
  height:66px;
  opacity:0;
}
#u3834 {
  position:absolute;
  left:2px;
  top:25px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:54px;
}
#u3835 {
  position:absolute;
  left:270px;
  top:10px;
  width:28px;
  height:54px;
}
#u3836 {
  position:absolute;
  left:2px;
  top:19px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3837 {
  position:absolute;
  left:254px;
  top:39px;
  width:66px;
  height:20px;
  color:#666666;
}
#u3838 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3840 {
  position:absolute;
  left:329px;
  top:3px;
  width:90px;
  height:66px;
}
#u3841 {
  position:absolute;
  left:2px;
  top:25px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:54px;
}
#u3842 {
  position:absolute;
  left:360px;
  top:10px;
  width:28px;
  height:54px;
}
#u3843 {
  position:absolute;
  left:2px;
  top:19px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3844 {
  position:absolute;
  left:344px;
  top:39px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3845 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3846 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3847 {
  position:absolute;
  left:409px;
  top:3px;
  width:90px;
  height:66px;
  opacity:0;
}
#u3848 {
  position:absolute;
  left:2px;
  top:25px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3849 {
  position:absolute;
  left:424px;
  top:39px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3850 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3851 {
  position:absolute;
  left:444px;
  top:16px;
  width:17px;
  height:17px;
}
#u3852 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3854 {
  position:absolute;
  left:491px;
  top:3px;
  width:90px;
  height:66px;
  opacity:0;
}
#u3855 {
  position:absolute;
  left:2px;
  top:25px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3856 {
  position:absolute;
  left:506px;
  top:39px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3857 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3858 {
  position:absolute;
  left:526px;
  top:16px;
  width:17px;
  height:17px;
}
#u3859 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3861 {
  position:absolute;
  left:577px;
  top:3px;
  width:90px;
  height:66px;
  opacity:0;
}
#u3862 {
  position:absolute;
  left:2px;
  top:25px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3863 {
  position:absolute;
  left:592px;
  top:39px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3864 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3865 {
  position:absolute;
  left:612px;
  top:16px;
  width:17px;
  height:17px;
}
#u3866 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3867 {
  position:absolute;
  left:1086px;
  top:22px;
  width:30px;
  height:30px;
  font-size:6px;
  color:#666666;
}
#u3868 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  word-wrap:break-word;
}
#u3869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3869 {
  position:absolute;
  left:1033px;
  top:30px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3870 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3871 {
  position:absolute;
  left:940px;
  top:30px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3872 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3873 {
  position:absolute;
  left:868px;
  top:30px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3874 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u3875 {
  position:absolute;
  left:929px;
  top:23px;
  width:1px;
  height:30px;
  color:#666666;
}
#u3876 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u3877 {
  position:absolute;
  left:1021px;
  top:25px;
  width:1px;
  height:30px;
  color:#666666;
}
#u3878 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u3879 {
  position:absolute;
  left:833px;
  top:29px;
  width:25px;
  height:23px;
  color:#666666;
}
#u3880 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:676px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3881 {
  position:absolute;
  left:6px;
  top:79px;
  width:150px;
  height:676px;
}
#u3882 {
  position:absolute;
  left:2px;
  top:330px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3884 {
  position:absolute;
  left:20px;
  top:119px;
  width:15px;
  height:15px;
}
#u3885 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3886 {
  position:absolute;
  left:45px;
  top:117px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3887 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3888 {
  position:absolute;
  left:120px;
  top:122px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3889 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3890 {
  position:absolute;
  left:20px;
  top:142px;
  width:120px;
  height:222px;
  overflow:hidden;
}
#u3890_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:222px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  background-image:none;
}
#u3890_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3891 {
  position:absolute;
  left:0px;
  top:30px;
  width:15px;
  height:15px;
}
#u3892 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3893 {
  position:absolute;
  left:25px;
  top:27px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3894 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3896 {
  position:absolute;
  left:0px;
  top:127px;
  width:15px;
  height:15px;
}
#u3897 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3898 {
  position:absolute;
  left:25px;
  top:124px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3899 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3901 {
  position:absolute;
  left:0px;
  top:182px;
  width:15px;
  height:15px;
}
#u3902 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3903 {
  position:absolute;
  left:25px;
  top:179px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3904 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3906 {
  position:absolute;
  left:0px;
  top:3px;
  width:15px;
  height:15px;
}
#u3907 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3908 {
  position:absolute;
  left:25px;
  top:2px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3909 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3910 {
  position:absolute;
  left:0px;
  top:53px;
  width:15px;
  height:15px;
}
#u3911 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3912 {
  position:absolute;
  left:25px;
  top:51px;
  width:43px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3913 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3915 {
  position:absolute;
  left:0px;
  top:76px;
  width:15px;
  height:15px;
}
#u3916 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3917 {
  position:absolute;
  left:25px;
  top:74px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3918 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3919 {
  position:absolute;
  left:0px;
  top:103px;
  width:15px;
  height:15px;
}
#u3920 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3921 {
  position:absolute;
  left:25px;
  top:101px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3922 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3924 {
  position:absolute;
  left:0px;
  top:153px;
  width:15px;
  height:15px;
}
#u3925 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3926 {
  position:absolute;
  left:25px;
  top:150px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3927 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3928 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3929 {
  position:absolute;
  left:20px;
  top:387px;
  width:15px;
  height:15px;
}
#u3930 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3931 {
  position:absolute;
  left:45px;
  top:385px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3932 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3933 {
  position:absolute;
  left:120px;
  top:390px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3934 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3935 {
  position:absolute;
  left:20px;
  top:424px;
  width:120px;
  height:158px;
  overflow:hidden;
}
#u3935_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:158px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  background-image:none;
}
#u3935_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3936 {
  position:absolute;
  left:0px;
  top:54px;
  width:15px;
  height:15px;
}
#u3937 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3938 {
  position:absolute;
  left:25px;
  top:51px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3939 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3940 {
  position:absolute;
  left:0px;
  top:28px;
  width:15px;
  height:15px;
}
#u3941 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3942 {
  position:absolute;
  left:25px;
  top:25px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3943 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3944 {
  position:absolute;
  left:0px;
  top:3px;
  width:15px;
  height:15px;
}
#u3945 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3946 {
  position:absolute;
  left:25px;
  top:0px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3947 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3949 {
  position:absolute;
  left:0px;
  top:104px;
  width:15px;
  height:15px;
}
#u3950 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3951 {
  position:absolute;
  left:25px;
  top:103px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3952 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u3953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3954 {
  position:absolute;
  left:0px;
  top:78px;
  width:15px;
  height:15px;
}
#u3955 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3956 {
  position:absolute;
  left:25px;
  top:78px;
  width:57px;
  height:20px;
}
#u3957 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3958 {
  position:absolute;
  left:166px;
  top:81px;
  width:176px;
  height:20px;
}
#u3959 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u3960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3960 {
  position:absolute;
  left:166px;
  top:119px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3961 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3960_ann {
  position:absolute;
  left:250px;
  top:115px;
  width:1px;
  height:1px;
}
#u3962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3963 {
  position:absolute;
  left:184px;
  top:163px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3964 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3965 {
  position:absolute;
  left:166px;
  top:166px;
  width:15px;
  height:15px;
}
#u3966 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3968 {
  position:absolute;
  left:265px;
  top:162px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3969 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u3970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3970 {
  position:absolute;
  left:248px;
  top:166px;
  width:15px;
  height:15px;
}
#u3971 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3972 {
  position:absolute;
  left:166px;
  top:318px;
  width:969px;
  height:205px;
}
#u3973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u3973 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3974 {
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u3975 {
  position:absolute;
  left:128px;
  top:0px;
  width:136px;
  height:40px;
}
#u3976 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u3977 {
  position:absolute;
  left:264px;
  top:0px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3978 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  word-wrap:break-word;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u3979 {
  position:absolute;
  left:403px;
  top:0px;
  width:107px;
  height:40px;
}
#u3980 {
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u3981 {
  position:absolute;
  left:510px;
  top:0px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3982 {
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u3983 {
  position:absolute;
  left:593px;
  top:0px;
  width:77px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3984 {
  position:absolute;
  left:2px;
  top:11px;
  width:73px;
  word-wrap:break-word;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
}
#u3985 {
  position:absolute;
  left:670px;
  top:0px;
  width:114px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3986 {
  position:absolute;
  left:2px;
  top:11px;
  width:110px;
  word-wrap:break-word;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u3987 {
  position:absolute;
  left:784px;
  top:0px;
  width:85px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3988 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u3989 {
  position:absolute;
  left:869px;
  top:0px;
  width:95px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3990 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u3991 {
  position:absolute;
  left:0px;
  top:40px;
  width:128px;
  height:40px;
  color:#0000FF;
}
#u3992 {
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u3991_ann {
  position:absolute;
  left:114px;
  top:40px;
  width:1px;
  height:1px;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u3993 {
  position:absolute;
  left:128px;
  top:40px;
  width:136px;
  height:40px;
  color:#0000FF;
}
#u3994 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u3995 {
  position:absolute;
  left:264px;
  top:40px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3996 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  word-wrap:break-word;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u3997 {
  position:absolute;
  left:403px;
  top:40px;
  width:107px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3998 {
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u3999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u3999 {
  position:absolute;
  left:510px;
  top:40px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4000 {
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u4001 {
  position:absolute;
  left:593px;
  top:40px;
  width:77px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4002 {
  position:absolute;
  left:2px;
  top:11px;
  width:73px;
  word-wrap:break-word;
}
#u4003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
}
#u4003 {
  position:absolute;
  left:670px;
  top:40px;
  width:114px;
  height:40px;
}
#u4004 {
  position:absolute;
  left:2px;
  top:11px;
  width:110px;
  word-wrap:break-word;
}
#u4005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u4005 {
  position:absolute;
  left:784px;
  top:40px;
  width:85px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4006 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u4007 {
  position:absolute;
  left:869px;
  top:40px;
  width:95px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u4008 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u4007_ann {
  position:absolute;
  left:950px;
  top:40px;
  width:1px;
  height:1px;
}
#u4009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u4009 {
  position:absolute;
  left:0px;
  top:80px;
  width:128px;
  height:40px;
  color:#0000FF;
}
#u4010 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u4011 {
  position:absolute;
  left:128px;
  top:80px;
  width:136px;
  height:40px;
  color:#0000FF;
}
#u4012 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u4013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u4013 {
  position:absolute;
  left:264px;
  top:80px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4014 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  word-wrap:break-word;
}
#u4015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u4015 {
  position:absolute;
  left:403px;
  top:80px;
  width:107px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4016 {
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u4017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u4017 {
  position:absolute;
  left:510px;
  top:80px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4018 {
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u4019 {
  position:absolute;
  left:593px;
  top:80px;
  width:77px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4020 {
  position:absolute;
  left:2px;
  top:11px;
  width:73px;
  word-wrap:break-word;
}
#u4021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
}
#u4021 {
  position:absolute;
  left:670px;
  top:80px;
  width:114px;
  height:40px;
}
#u4022 {
  position:absolute;
  left:2px;
  top:11px;
  width:110px;
  word-wrap:break-word;
}
#u4023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u4023 {
  position:absolute;
  left:784px;
  top:80px;
  width:85px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4024 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u4025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u4025 {
  position:absolute;
  left:869px;
  top:80px;
  width:95px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u4026 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u4027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u4027 {
  position:absolute;
  left:0px;
  top:120px;
  width:128px;
  height:40px;
  color:#0000FF;
}
#u4028 {
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u4029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u4029 {
  position:absolute;
  left:128px;
  top:120px;
  width:136px;
  height:40px;
  color:#0000FF;
}
#u4030 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u4031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u4031 {
  position:absolute;
  left:264px;
  top:120px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4032 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  word-wrap:break-word;
}
#u4033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u4033 {
  position:absolute;
  left:403px;
  top:120px;
  width:107px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4034 {
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u4035 {
  position:absolute;
  left:510px;
  top:120px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4036 {
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u4037 {
  position:absolute;
  left:593px;
  top:120px;
  width:77px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4038 {
  position:absolute;
  left:2px;
  top:11px;
  width:73px;
  word-wrap:break-word;
}
#u4039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
}
#u4039 {
  position:absolute;
  left:670px;
  top:120px;
  width:114px;
  height:40px;
}
#u4040 {
  position:absolute;
  left:2px;
  top:11px;
  width:110px;
  word-wrap:break-word;
}
#u4041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u4041 {
  position:absolute;
  left:784px;
  top:120px;
  width:85px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4042 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u4043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u4043 {
  position:absolute;
  left:869px;
  top:120px;
  width:95px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u4044 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u4045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u4045 {
  position:absolute;
  left:0px;
  top:160px;
  width:128px;
  height:40px;
  color:#0000FF;
}
#u4046 {
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u4047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u4047 {
  position:absolute;
  left:128px;
  top:160px;
  width:136px;
  height:40px;
  color:#0000FF;
}
#u4048 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u4049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u4049 {
  position:absolute;
  left:264px;
  top:160px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4050 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  word-wrap:break-word;
}
#u4051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u4051 {
  position:absolute;
  left:403px;
  top:160px;
  width:107px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4052 {
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u4053 {
  position:absolute;
  left:510px;
  top:160px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4054 {
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u4055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u4055 {
  position:absolute;
  left:593px;
  top:160px;
  width:77px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4056 {
  position:absolute;
  left:2px;
  top:11px;
  width:73px;
  word-wrap:break-word;
}
#u4057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
}
#u4057 {
  position:absolute;
  left:670px;
  top:160px;
  width:114px;
  height:40px;
}
#u4058 {
  position:absolute;
  left:2px;
  top:11px;
  width:110px;
  word-wrap:break-word;
}
#u4059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u4059 {
  position:absolute;
  left:784px;
  top:160px;
  width:85px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4060 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u4061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u4061 {
  position:absolute;
  left:869px;
  top:160px;
  width:95px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u4062 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u3972_ann {
  position:absolute;
  left:1123px;
  top:314px;
  width:1px;
  height:1px;
}
#u4063 {
  position:absolute;
  left:166px;
  top:261px;
  width:160px;
  height:22px;
}
#u4063_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4063_input:disabled {
  color:grayText;
}
#u4064 {
  position:absolute;
  left:765px;
  top:260px;
  width:160px;
  height:22px;
}
#u4064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4064_input:disabled {
  color:grayText;
}
#u4065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4067 {
  position:absolute;
  left:166px;
  top:215px;
  width:300px;
  height:25px;
}
#u4067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u4068 {
  position:absolute;
  left:175px;
  top:221px;
  width:14px;
  height:12px;
}
#u4069 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4070 {
  position:absolute;
  left:376px;
  top:263px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4071 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4072 {
  position:absolute;
  left:355px;
  top:261px;
  width:160px;
  height:22px;
}
#u4072_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4072_input:disabled {
  color:grayText;
}
#u4073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4073 {
  position:absolute;
  left:376px;
  top:263px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4074 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u4075 {
  position:absolute;
  left:423px;
  top:162px;
  visibility:hidden;
}
#u4075_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4075_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:508px;
}
#u4076 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:498px;
}
#u4077 {
  position:absolute;
  left:2px;
  top:241px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4075_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:505px;
}
#u4078 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:495px;
}
#u4079 {
  position:absolute;
  left:2px;
  top:240px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u4080 {
  position:absolute;
  left:1112px;
  top:334px;
  width:17px;
  height:14px;
}
#u4081 {
  position:absolute;
  left:2px;
  top:-1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080_ann {
  position:absolute;
  left:1122px;
  top:330px;
  width:1px;
  height:1px;
}
#u4082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:800px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4083 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:800px;
  opacity:0.7;
}
#u4084 {
  position:absolute;
  left:2px;
  top:392px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:261px;
}
#u4085 {
  position:absolute;
  left:220px;
  top:221px;
  width:442px;
  height:261px;
}
#u4086 {
  position:absolute;
  left:2px;
  top:122px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:29px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4087 {
  position:absolute;
  left:220px;
  top:221px;
  width:442px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4088 {
  position:absolute;
  left:2px;
  top:6px;
  width:438px;
  word-wrap:break-word;
}
#u4089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4089 {
  position:absolute;
  left:634px;
  top:228px;
  width:15px;
  height:15px;
}
#u4090 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u4091 {
  position:absolute;
  left:455px;
  top:431px;
  width:50px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u4092 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u4091_ann {
  position:absolute;
  left:498px;
  top:427px;
  width:1px;
  height:1px;
}
#u4093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u4093 {
  position:absolute;
  left:370px;
  top:431px;
  width:50px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u4094 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u4095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4095 {
  position:absolute;
  left:234px;
  top:262px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4096 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4095_ann {
  position:absolute;
  left:340px;
  top:258px;
  width:1px;
  height:1px;
}
#u4097 {
  position:absolute;
  left:358px;
  top:305px;
  width:100px;
  height:18px;
}
#u4098 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4097_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4099 {
  position:absolute;
  left:358px;
  top:343px;
  width:147px;
  height:18px;
}
#u4100 {
  position:absolute;
  left:16px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u4099_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4101 {
  position:absolute;
  left:358px;
  top:384px;
  width:147px;
  height:18px;
}
#u4102 {
  position:absolute;
  left:16px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u4101_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
