body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1368px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21264 {
  position:absolute;
  left:53px;
  top:104px;
  width:1368px;
  height:35px;
}
#u21265 {
  position:absolute;
  left:2px;
  top:10px;
  width:1364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:1002px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21266 {
  position:absolute;
  left:53px;
  top:139px;
  width:1365px;
  height:1002px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21267 {
  position:absolute;
  left:2px;
  top:493px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u21268 {
  position:absolute;
  left:1390px;
  top:113px;
  width:16px;
  height:15px;
}
#u21269 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u21270 {
  position:absolute;
  left:55px;
  top:113px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u21271 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21272 {
  position:absolute;
  left:88px;
  top:169px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21273 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21274 {
  position:absolute;
  left:63px;
  top:537px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21275 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21276 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21278 {
  position:absolute;
  left:1329px;
  top:149px;
  width:31px;
  height:22px;
}
#u21279 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u21280 {
  position:absolute;
  left:84px;
  top:680px;
  width:1307px;
  height:145px;
}
#u21281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
}
#u21281 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
  color:#000000;
}
#u21282 {
  position:absolute;
  left:2px;
  top:2px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u21283 {
  position:absolute;
  left:119px;
  top:0px;
  width:85px;
  height:20px;
  color:#000000;
}
#u21284 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u21285 {
  position:absolute;
  left:204px;
  top:0px;
  width:91px;
  height:20px;
  color:#000000;
}
#u21286 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u21287 {
  position:absolute;
  left:295px;
  top:0px;
  width:65px;
  height:20px;
  color:#000000;
}
#u21288 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
}
#u21289 {
  position:absolute;
  left:360px;
  top:0px;
  width:121px;
  height:20px;
  color:#000000;
}
#u21290 {
  position:absolute;
  left:2px;
  top:2px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u21291 {
  position:absolute;
  left:481px;
  top:0px;
  width:109px;
  height:20px;
  color:#000000;
}
#u21292 {
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u21293 {
  position:absolute;
  left:590px;
  top:0px;
  width:87px;
  height:20px;
  color:#000000;
}
#u21294 {
  position:absolute;
  left:2px;
  top:2px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
}
#u21295 {
  position:absolute;
  left:677px;
  top:0px;
  width:149px;
  height:20px;
  color:#000000;
}
#u21296 {
  position:absolute;
  left:2px;
  top:2px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
}
#u21297 {
  position:absolute;
  left:826px;
  top:0px;
  width:119px;
  height:20px;
  color:#000000;
}
#u21298 {
  position:absolute;
  left:2px;
  top:2px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u21299 {
  position:absolute;
  left:945px;
  top:0px;
  width:94px;
  height:20px;
  color:#000000;
}
#u21300 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u21301 {
  position:absolute;
  left:1039px;
  top:0px;
  width:109px;
  height:20px;
  color:#000000;
}
#u21302 {
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:20px;
}
#u21303 {
  position:absolute;
  left:1148px;
  top:0px;
  width:154px;
  height:20px;
  color:#000000;
}
#u21304 {
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
}
#u21305 {
  position:absolute;
  left:0px;
  top:20px;
  width:119px;
  height:37px;
  color:#000000;
}
#u21306 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u21307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:37px;
}
#u21307 {
  position:absolute;
  left:119px;
  top:20px;
  width:85px;
  height:37px;
  color:#000000;
}
#u21308 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u21309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u21309 {
  position:absolute;
  left:204px;
  top:20px;
  width:91px;
  height:37px;
  color:#000000;
}
#u21310 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u21309_ann {
  position:absolute;
  left:281px;
  top:20px;
  width:1px;
  height:1px;
}
#u21311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u21311 {
  position:absolute;
  left:295px;
  top:20px;
  width:65px;
  height:37px;
  color:#000000;
}
#u21312 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u21313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u21313 {
  position:absolute;
  left:360px;
  top:20px;
  width:121px;
  height:37px;
  color:#000000;
}
#u21314 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u21313_ann {
  position:absolute;
  left:467px;
  top:20px;
  width:1px;
  height:1px;
}
#u21315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u21315 {
  position:absolute;
  left:481px;
  top:20px;
  width:109px;
  height:37px;
  color:#000000;
}
#u21316 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u21315_ann {
  position:absolute;
  left:576px;
  top:20px;
  width:1px;
  height:1px;
}
#u21317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
}
#u21317 {
  position:absolute;
  left:590px;
  top:20px;
  width:87px;
  height:37px;
  color:#000000;
}
#u21318 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u21319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:37px;
}
#u21319 {
  position:absolute;
  left:677px;
  top:20px;
  width:149px;
  height:37px;
  color:#000000;
}
#u21320 {
  position:absolute;
  left:2px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u21319_ann {
  position:absolute;
  left:812px;
  top:20px;
  width:1px;
  height:1px;
}
#u21321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
}
#u21321 {
  position:absolute;
  left:826px;
  top:20px;
  width:119px;
  height:37px;
  color:#000000;
}
#u21322 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u21321_ann {
  position:absolute;
  left:931px;
  top:20px;
  width:1px;
  height:1px;
}
#u21323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u21323 {
  position:absolute;
  left:945px;
  top:20px;
  width:94px;
  height:37px;
  color:#000000;
}
#u21324 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u21323_ann {
  position:absolute;
  left:1025px;
  top:20px;
  width:1px;
  height:1px;
}
#u21325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u21325 {
  position:absolute;
  left:1039px;
  top:20px;
  width:109px;
  height:37px;
  color:#000000;
}
#u21326 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u21327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:37px;
}
#u21327 {
  position:absolute;
  left:1148px;
  top:20px;
  width:154px;
  height:37px;
  color:#000000;
}
#u21328 {
  position:absolute;
  left:2px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u21327_ann {
  position:absolute;
  left:1288px;
  top:20px;
  width:1px;
  height:1px;
}
#u21329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u21329 {
  position:absolute;
  left:0px;
  top:57px;
  width:119px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21330 {
  position:absolute;
  left:2px;
  top:11px;
  width:115px;
  word-wrap:break-word;
}
#u21331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u21331 {
  position:absolute;
  left:119px;
  top:57px;
  width:85px;
  height:40px;
}
#u21332 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u21333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
}
#u21333 {
  position:absolute;
  left:204px;
  top:57px;
  width:91px;
  height:40px;
}
#u21334 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u21335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
}
#u21335 {
  position:absolute;
  left:295px;
  top:57px;
  width:65px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21336 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u21337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u21337 {
  position:absolute;
  left:360px;
  top:57px;
  width:121px;
  height:40px;
  color:#000000;
}
#u21338 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u21339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u21339 {
  position:absolute;
  left:481px;
  top:57px;
  width:109px;
  height:40px;
  color:#000000;
}
#u21340 {
  position:absolute;
  left:2px;
  top:11px;
  width:105px;
  word-wrap:break-word;
}
#u21341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u21341 {
  position:absolute;
  left:590px;
  top:57px;
  width:87px;
  height:40px;
  color:#000000;
}
#u21342 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u21343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:40px;
}
#u21343 {
  position:absolute;
  left:677px;
  top:57px;
  width:149px;
  height:40px;
  color:#000000;
}
#u21344 {
  position:absolute;
  left:2px;
  top:11px;
  width:145px;
  word-wrap:break-word;
}
#u21345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u21345 {
  position:absolute;
  left:826px;
  top:57px;
  width:119px;
  height:40px;
  color:#000000;
}
#u21346 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u21347 {
  position:absolute;
  left:945px;
  top:57px;
  width:94px;
  height:40px;
  color:#000000;
}
#u21348 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u21349 {
  position:absolute;
  left:1039px;
  top:57px;
  width:109px;
  height:40px;
  color:#000000;
}
#u21350 {
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
}
#u21351 {
  position:absolute;
  left:1148px;
  top:57px;
  width:154px;
  height:40px;
  color:#000000;
}
#u21352 {
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:43px;
}
#u21353 {
  position:absolute;
  left:0px;
  top:97px;
  width:119px;
  height:43px;
}
#u21354 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u21355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:43px;
}
#u21355 {
  position:absolute;
  left:119px;
  top:97px;
  width:85px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21356 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u21357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:43px;
}
#u21357 {
  position:absolute;
  left:204px;
  top:97px;
  width:91px;
  height:43px;
}
#u21358 {
  position:absolute;
  left:2px;
  top:12px;
  width:87px;
  word-wrap:break-word;
}
#u21359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:43px;
}
#u21359 {
  position:absolute;
  left:295px;
  top:97px;
  width:65px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21360 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u21361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:43px;
}
#u21361 {
  position:absolute;
  left:360px;
  top:97px;
  width:121px;
  height:43px;
  color:#000000;
}
#u21362 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u21363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:43px;
}
#u21363 {
  position:absolute;
  left:481px;
  top:97px;
  width:109px;
  height:43px;
  color:#000000;
}
#u21364 {
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u21365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:43px;
}
#u21365 {
  position:absolute;
  left:590px;
  top:97px;
  width:87px;
  height:43px;
  color:#000000;
}
#u21366 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u21367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:43px;
}
#u21367 {
  position:absolute;
  left:677px;
  top:97px;
  width:149px;
  height:43px;
  color:#000000;
}
#u21368 {
  position:absolute;
  left:2px;
  top:12px;
  width:145px;
  word-wrap:break-word;
}
#u21369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:43px;
}
#u21369 {
  position:absolute;
  left:826px;
  top:97px;
  width:119px;
  height:43px;
  color:#000000;
}
#u21370 {
  position:absolute;
  left:2px;
  top:14px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:43px;
}
#u21371 {
  position:absolute;
  left:945px;
  top:97px;
  width:94px;
  height:43px;
  color:#000000;
}
#u21372 {
  position:absolute;
  left:2px;
  top:14px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:43px;
}
#u21373 {
  position:absolute;
  left:1039px;
  top:97px;
  width:109px;
  height:43px;
  color:#000000;
}
#u21374 {
  position:absolute;
  left:2px;
  top:14px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:43px;
}
#u21375 {
  position:absolute;
  left:1148px;
  top:97px;
  width:154px;
  height:43px;
  color:#000000;
}
#u21376 {
  position:absolute;
  left:2px;
  top:14px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21280_ann {
  position:absolute;
  left:1379px;
  top:676px;
  width:1px;
  height:1px;
}
#u21377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u21377 {
  position:absolute;
  left:1094px;
  top:878px;
  width:64px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u21378 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u21379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
}
#u21379 {
  position:absolute;
  left:1187px;
  top:878px;
  width:91px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u21380 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u21381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21381 {
  position:absolute;
  left:1309px;
  top:878px;
  width:64px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21382 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u21381_ann {
  position:absolute;
  left:1366px;
  top:874px;
  width:1px;
  height:1px;
}
#u21383 {
  position:absolute;
  left:122px;
  top:750px;
  width:100px;
  height:16px;
}
#u21384 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21383_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21385 {
  position:absolute;
  left:94px;
  top:707px;
  width:100px;
  height:18px;
}
#u21386 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21385_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21387 {
  position:absolute;
  left:122px;
  top:790px;
  width:23px;
  height:16px;
}
#u21388 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21387_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21389 {
  position:absolute;
  left:1329px;
  top:651px;
  width:57px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21390 {
  position:absolute;
  left:2px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21391 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21392 {
  position:absolute;
  left:79px;
  top:585px;
  width:115px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21393 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  white-space:nowrap;
}
#u21392_ann {
  position:absolute;
  left:187px;
  top:581px;
  width:1px;
  height:1px;
}
#u21394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21394 {
  position:absolute;
  left:91px;
  top:588px;
  width:15px;
  height:15px;
}
#u21395 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21396 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21397 {
  position:absolute;
  left:244px;
  top:587px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21398 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  white-space:nowrap;
}
#u21399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21399 {
  position:absolute;
  left:244px;
  top:591px;
  width:15px;
  height:15px;
}
#u21400 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21401 {
  position:absolute;
  left:88px;
  top:1054px;
  width:100px;
  height:45px;
}
#u21402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u21402 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  color:#000000;
}
#u21403 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:28px;
}
#u21404 {
  position:absolute;
  left:977px;
  top:588px;
  width:409px;
  height:28px;
}
#u21405 {
  position:absolute;
  left:2px;
  top:6px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21404_ann {
  position:absolute;
  left:1379px;
  top:584px;
  width:1px;
  height:1px;
}
#u21406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21406 {
  position:absolute;
  left:163px;
  top:207px;
  width:57px;
  height:20px;
}
#u21407 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21408 {
  position:absolute;
  left:230px;
  top:207px;
  width:128px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21409 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u21408_ann {
  position:absolute;
  left:351px;
  top:203px;
  width:1px;
  height:1px;
}
#u21410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21410 {
  position:absolute;
  left:136px;
  top:268px;
  width:87px;
  height:20px;
}
#u21411 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u21410_ann {
  position:absolute;
  left:216px;
  top:264px;
  width:1px;
  height:1px;
}
#u21412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21412 {
  position:absolute;
  left:178px;
  top:460px;
  width:43px;
  height:20px;
}
#u21413 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u21414 {
  position:absolute;
  left:225px;
  top:460px;
  width:1082px;
  height:47px;
}
#u21414_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:47px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21415 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:2px;
}
#u21416 {
  position:absolute;
  left:226px;
  top:288px;
  width:199px;
  height:1px;
}
#u21417 {
  position:absolute;
  left:2px;
  top:-8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u21418 {
  position:absolute;
  left:414px;
  top:270px;
  width:11px;
  height:8px;
}
#u21419 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21420 {
  position:absolute;
  left:241px;
  top:265px;
  width:139px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21421 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u21422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21422 {
  position:absolute;
  left:1038px;
  top:335px;
  width:57px;
  height:20px;
}
#u21423 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21424 {
  position:absolute;
  left:1105px;
  top:335px;
  width:29px;
  height:20px;
}
#u21425 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21426 {
  position:absolute;
  left:1014px;
  top:277px;
  width:83px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21427 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u21426_ann {
  position:absolute;
  left:1090px;
  top:273px;
  width:1px;
  height:1px;
}
#u21428 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:2px;
}
#u21429 {
  position:absolute;
  left:1108px;
  top:292px;
  width:199px;
  height:1px;
}
#u21430 {
  position:absolute;
  left:2px;
  top:-8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u21431 {
  position:absolute;
  left:1295px;
  top:274px;
  width:11px;
  height:8px;
}
#u21432 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21433 {
  position:absolute;
  left:1123px;
  top:269px;
  width:139px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21434 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u21435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21435 {
  position:absolute;
  left:150px;
  top:404px;
  width:71px;
  height:20px;
}
#u21436 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u21437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21437 {
  position:absolute;
  left:237px;
  top:404px;
  width:115px;
  height:16px;
}
#u21438 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u21439 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21440 {
  position:absolute;
  left:156px;
  top:330px;
  width:56px;
  height:20px;
}
#u21441 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u21442 {
  position:absolute;
  left:235px;
  top:331px;
  width:200px;
  height:24px;
}
#u21442_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21442_ann {
  position:absolute;
  left:428px;
  top:327px;
  width:1px;
  height:1px;
}
#u21443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21443 {
  position:absolute;
  left:406px;
  top:330px;
  width:18px;
  height:23px;
  font-size:20px;
}
#u21444 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u21445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u21445 {
  position:absolute;
  left:261px;
  top:335px;
  width:64px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u21446 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u21447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u21447 {
  position:absolute;
  left:440px;
  top:340px;
  width:10px;
  height:8px;
}
#u21448 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21449 {
  position:absolute;
  left:167px;
  top:360px;
  width:299px;
  height:26px;
  overflow:hidden;
  visibility:hidden;
}
#u21449_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:26px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21449_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:784px;
}
#u21450 {
  position:absolute;
  left:0px;
  top:-165px;
  width:1000px;
  height:784px;
}
#u21451 {
  position:absolute;
  left:2px;
  top:384px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21452 {
  position:absolute;
  left:526px;
  top:-6px;
  width:200px;
  height:24px;
}
#u21452_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:815px;
}
#u21453 {
  position:absolute;
  left:0px;
  top:3px;
  width:1000px;
  height:815px;
}
#u21454 {
  position:absolute;
  left:2px;
  top:400px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21455 {
  position:absolute;
  left:457px;
  top:5px;
  width:37px;
  height:20px;
}
#u21456 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u21457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u21457 {
  position:absolute;
  left:527px;
  top:19px;
  width:200px;
  height:1px;
}
#u21458 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21459 {
  position:absolute;
  left:527px;
  top:-6px;
  width:200px;
  height:25px;
}
#u21459_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21460 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21461 {
  position:absolute;
  left:68px;
  top:1px;
  width:200px;
  height:24px;
}
#u21461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21462 {
  position:absolute;
  left:239px;
  top:0px;
  width:18px;
  height:23px;
  font-size:20px;
}
#u21463 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u21464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u21464 {
  position:absolute;
  left:94px;
  top:5px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u21465 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u21466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21466 {
  position:absolute;
  left:278px;
  top:5px;
  width:22px;
  height:16px;
}
#u21467 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u21468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21468 {
  position:absolute;
  left:460px;
  top:336px;
  width:6px;
  height:16px;
}
#u21469 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u21468_ann {
  position:absolute;
  left:459px;
  top:332px;
  width:1px;
  height:1px;
}
#u21470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21470 {
  position:absolute;
  left:1012px;
  top:212px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21471 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u21472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u21472 {
  position:absolute;
  left:1097px;
  top:212px;
  width:83px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u21473 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u21474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u21474 {
  position:absolute;
  left:1182px;
  top:214px;
  width:125px;
  height:19px;
  color:#000000;
}
#u21475 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  white-space:nowrap;
}
#u21476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21476 {
  position:absolute;
  left:225px;
  top:681px;
  width:79px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21477 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u21478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21478 {
  position:absolute;
  left:588px;
  top:681px;
  width:55px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21479 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u21480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21480 {
  position:absolute;
  left:1223px;
  top:681px;
  width:55px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21481 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u21482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21482 {
  position:absolute;
  left:859px;
  top:681px;
  width:227px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u21483 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u21484 {
  position:absolute;
  left:927px;
  top:750px;
  width:74px;
  height:25px;
}
#u21484_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21485 {
  position:absolute;
  left:927px;
  top:795px;
  width:74px;
  height:25px;
}
#u21485_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21486 {
  position:absolute;
  left:1038px;
  top:750px;
  width:74px;
  height:25px;
}
#u21486_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21487 {
  position:absolute;
  left:1038px;
  top:795px;
  width:74px;
  height:25px;
}
#u21487_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
