body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1272px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1272px;
  height:635px;
}
#u2524 {
  position:absolute;
  left:0px;
  top:0px;
  width:1272px;
  height:635px;
}
#u2525 {
  position:absolute;
  left:2px;
  top:310px;
  width:1268px;
  visibility:hidden;
  word-wrap:break-word;
}
